@import '@/styles/variables';

.banner {
  padding-bottom: 64px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/image/home/carousel-bg.png');

  .content {
    padding-top: 85px;

    .title {
      @include title('bold');

      line-height: 58px;
    }

    .paragraph {
      font-size: 28px;
      font-weight: 500;
      color: #172142;
      line-height: 42px;
    }

    .paragraph:nth-child(2) {
      margin-bottom: 36px;
    }

    .contact {
      a {
        font-size: 21px;
        font-weight: 600;
        text-decoration: underline;
        color: #d46b14;
        line-height: 46px;
      }
    }

    .rightCol {
      @media (width <= 768px) {
        margin-top: 48px;
      }

      .button {
        padding-left: 36px;
        width: 320px;
        height: 72px;
        border-color: #d46b14;
        border-radius: 12px;
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        color: #d46b14;
        background-color: #fff;
        line-height: 40px;
      }
    }
  }
}
