@import "@/styles/variables.scss";

.colorfulCard {
  width: 380px;

  .card {
    :global(.ant-card-body) {
      height: 360px;
    }

    .cardTitle {
      @include title("thin");
      margin-bottom: 0;
    }

    .list {
      font-size: 18px;
      font-weight: 400;
      color: #172142;

      &::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #172142;
        position: relative;
        margin-right: 8px;
        top: -3px;
      }
    }

    .bottom {
      justify-content: space-between;
      width: 100%;

      .week {
        font-size: 18px;
        font-weight: 400;
        color: #666666;
      }

      .link {
        color: #ffad11;
      }
    }
  }
}
