@import '@/styles/variables';

.becomePartnerContainer {
  padding: 100px 0;

  @media (width <= 768px) {
    padding: 50px 0;
  }

  .becomePartner {
    .content {
      padding-top: 100px;
      padding-bottom: 100px;
      border-radius: 8px;
      text-align: center;
      background: #fff;

      @media (width <= 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .title {
        @include title('bold');

        line-height: 64px;

        @media (width <= 768px) {
          @include title('mobile');
        }
      }

      .description {
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 34px;

        @media (width <= 768px) {
          @include mobile-text;
        }
      }

      .contactBtn {
        width: 196px;
        height: 56px;
        border: 2px solid #172142;
        border-radius: 12px;
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 24px;

        @media (width <= 768px) {
          @include mobile-text;
        }
      }
    }
  }
}
