@import '@/styles/variables';

.banner {
  width: 100%;
  background-image: url('/image/home/carousel-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    position: relative;

    @media (width <= 768px) {
      padding-right: 24px;
      padding-left: 24px;
    }

    .breadcrumb {
      padding-top: 36px;

      @media (width <= 1200px) {
        padding-top: 24px;
      }
    }

    .title {
      @include title('default');

      line-height: 48px;

      @media (width <= 768px) {
        @include title('mobile');

        margin-top: 24px;
        margin-bottom: 24px;
      }
    }

    .courseCard {
      width: 100%;

      .cardContent {
        padding: 56px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: #fff;

        @media (width <= 992px) {
          padding: 40px;
        }

        @media (width <= 768px) {
          padding: 24px;
        }

        .divider {
          margin: 80px 0;
          height: 4px;
          border-radius: 4px;
          background-color: $primary-color;

          @media (width <= 992px) {
            margin: 16px 0;
          }
        }

        .description {
          align-items: flex-start;
          width: 100%;

          @media (width <= 768px) {
            flex-direction: column;
            align-items: center;
          }

          .left {
            margin-left: 50px;

            @media (width <= 768px) {
              margin-left: 0;
            }

            :global(.ant-descriptions-item-label) {
              font-size: 18px;
              font-weight: 600;
              color: #172142;
              line-height: 40px;

              &::before {
                margin-right: 10px;
                width: 12px;
                height: 12px;
                border: 2px solid #ffd600;
                border-radius: 50%;
                background: #ffad11;
                content: '';
                box-sizing: border-box;
              }

              @media (width <= 768px) {
                @include title('middle');
              }
            }

            :global(.ant-descriptions-item-content) {
              font-size: 18px;
              color: #172142;
              line-height: 40px;

              @media (width <= 768px) {
                @include title('middle');

                font-size: 16px;
                color: #555;
              }
            }

            .full {
              text-decoration: line-through;
            }

            .btn {
              width: 226px;
              height: 56px;
              border: 2px solid #172142;
              border-radius: 12px;
              font-size: 18px;
              font-weight: 500;
              color: #172142;
              background: #fff;
              line-height: 24px;

              @media (width <= 768px) {
                width: 160px;
                height: 48px;
                font-size: 16px;
              }
            }

            .shareLessons {
              width: 202px;
              height: 48px;
              border-radius: 8px;
              font-size: 16px;
              font-weight: 500;
              color: #172142;
              background: #fff;
              line-height: 24px;

              @media (width <= 768px) {
                margin-top: 8px;
                width: 128px;
                height: 40px;
                font-size: 12px;
              }
            }

            .consultation {
              width: 202px;
              height: 48px;
              border-radius: 8px;
              font-size: 16px;
              font-weight: 500;
              color: #fff;
              background: #ffad11;
              line-height: 24px;

              @media (width <= 768px) {
                margin-top: 8px;
                width: 128px;
                height: 40px;
                font-size: 12px;
              }
            }
          }

          .right {
            padding-right: 10px;
            padding-left: 30px;
            width: 550px;

            @media (width>=768px) and (width <= 1200px) {
              padding: 0;
              width: 368px;
            }

            @media (width <= 768px) {
              margin-top: 12px;
              padding: 0;
              width: 100%;
            }

            .dots {
              position: relative;
              top: 10px;

              li {
                width: 12px !important;
                height: 12px !important;
              }
            }

            .videoBox {
              width: 640px;
              height: 360px;

              @media (width>=768px) and (width<=1200px) {
                width: 480px;
                height: 270px;
              }

              @media (width <= 768px) {
                width: 320px;
                height: 180px;
              }

              video {
                width: 100%;
                height: 100%;
              }
            }

            .mediaChoice {
              margin-top: 20px;

              .mediaChoiceBox {
                width: 100px;
                height: 100px;
              }
            }

            .rightBottom {
              margin-top: 32px;
              width: 100%;

              @media (width <= 768px) {
                margin-top: 0;
              }

              .rightBottomText {
                font-size: 18px;
                font-weight: 400;
                color: #d46b14;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
  }
}
