@import '@/styles/variables';

.banner {
  padding-bottom: 64px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/image/home/carousel-bg.png');

  @media (width <= 768px) {
    padding-bottom: 16px;
  }

  .content {
    padding-top: 85px;

    @media (width <= 768px) {
      padding-top: 32px;
    }

    .title {
      @include title('bold');

      line-height: 58px;
      margin-bottom: 30px;

      @media (width <= 768px) {
        @include title('mobile');

        margin-bottom: 16px;
      }
    }

    :global(.ant-typography) {
      margin-bottom: 0;
    }

    .paragraph {
      font-size: 28px;
      font-weight: 500;
      color: #172142;
      line-height: 42px;

      @media (width <= 768px) {
        @include title('middle');
      }
    }

    .paragraph:nth-child(2) {
      margin-bottom: 36px;

      @media (width <= 768px) {
        margin-bottom: 12px;
      }
    }

    .contact {
      a {
        font-size: 21px;
        font-weight: 600;
        text-decoration: underline;
        color: #d46b14;
        line-height: 46px;

        @media (width <= 768px) {
          @include mobile-text;

          color: #d46b14;
        }
      }
    }

    .rightCol {
      @media (width <= 768px) {
        margin-top: 16px;
      }

      .btnGroup {
        display: flex;
        justify-content: space-around;
        height: 280px;
        flex-direction: column;

        .button {
          height: 72px;
          border-color: #d46b14;
          border-radius: 12px;
          font-size: 24px;
          font-weight: 600;
          text-align: left;
          color: #d46b14;
          background-color: #fff;
          line-height: 40px;

          @media (width <= 1200px) {
            padding-left: 16px;
            height: 56px;
            font-size: 18px;
          }

          @media (width <= 768px) {
            margin: 16px 0;
            padding-left: 16px;
            height: 48px;
            font-size: 18px;
          }
        }

        @media (width <= 768px) {
          height: auto;
        }
      }
    }
  }
}
