@import '@/styles/variables';

.content {
  padding: 80px 0;
  width: 100%;

  @media (width <= 768px) {
    padding: 50px 10px 8px;
  }

  .mainTitle {
    @include title;

    margin-bottom: 20px;

    @media (width <= 768px) {
      @include title('mobile');

      margin-bottom: 8px;
    }
  }

  :global(.ant-collapse-header) {
    padding: 12px 0 !important;
  }

  :global(.ant-collapse-arrow) {
    margin-top: -88px;

    @media (width <= 992px) {
      margin-top: -120px;
    }

    @media (width <= 768px) {
      margin-top: -88px;
    }
  }

  :global(.ant-collapse-content-box) {
    padding: 16px 0 !important;

    @media (width <= 768px) {
      padding: 0 !important;
    }
  }

  .cards {
    .card {
      padding: 24px;
      width: 100%;
      border-radius: 8px 8px 12px 12px;
      background: #fff;

      img {
        width: 100%;
      }

      .title {
        font-size: 20px;
        font-weight: 600;
        color: #172142;
        line-height: 30px;
      }

      .description {
        display: flex;
        justify-content: space-between;

        .descriptionText {
          font-size: 16px;
          font-weight: 400;
          color: #666;
          line-height: 28px;

          @media (width <= 768px) {
            @include mobile-text;
          }
        }

        .icon {
          margin-right: 4px;
        }

        .arrow {
          font-size: 18px;
          color: #ffad11;

          @media (width <= 768px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
