@import '@/styles/variables';

.content {
  padding-bottom: 100px;
  width: 100%;

  @media (width <= 768px) {
    padding: 16px 0;
  }

  .mainTitle {
    @include title;

    margin-bottom: 20px;

    @media (width <= 768px) {
      @include title('mobile');
    }
  }

  :global(.ant-collapse-header) {
    padding: 12px 0 !important;
  }

  :global(.ant-collapse-content-box) {
    padding: 16px 0 !important;
  }

  .cards {
    .card {
      padding: 24px;
      width: 100%;
      border-radius: 8px 8px 12px 12px;
      background: #fff;

      img {
        width: 100%;
      }

      .title {
        @include title('thin');

        line-height: 32px;

        @media (width <= 768px) {
          @include title('mobile');
        }
      }

      .description {
        display: flex;
        justify-content: space-between;

        .descriptionText {
          font-size: 16px;
          font-weight: 400;
          color: #666;
          line-height: 28px;

          @media (width <= 768px) {
            @include mobile-text;
          }
        }

        .icon {
          margin-right: 4px;
        }

        .arrow {
          font-size: 18px;
          color: #ffad11;

          @media (width <= 768px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
