@import '@/styles/variables';

.communityContainer {
  padding: 80px 15px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 32px 8px;
  }

  .community {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .title {
      @include title;

      margin: 0;

      @media (max-width: 768px) {
        @include title('mobile');
      }
    }

    .baseTitleBg {
      display: block;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('/image/home/home-title-bg-1.png');
    }

    .zhTitleBg {
      @extend .baseTitleBg;

      margin-left: 112px;
      width: 88px;

      @media (max-width: 768px) {
        margin-left: 72px;
        width: 56px;
      }
    }

    .enTitleBg {
      @extend .baseTitleBg;

      margin-left: 144px;
      width: 192px;

      @media (max-width: 768px) {
        margin-left: 96px;
        width: 144px;
      }
    }

    .paragraph {
      @include text(18px, 34px);
      @include margin;

      font-weight: 500;

      :global(.ant-typography) {
        margin-bottom: 0 !important;
      }

      @media (max-width: 768px) {
        margin-top: 8px;

        @include margin(0);
        @include mobile-text;
      }
    }

    .carouselContainer {
      margin-top: 56px;

      @media (max-width: 768px) {
        margin-top: 10px;
      }

      .maskCard {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        width: 288px;
        height: 320px;
        border: none;
        border-radius: 8px !important;

        @media (max-width: 768px) {
          width: 100%;
        }

        .image {
          width: 100%;
          height: 100%;
        }

        .cardTitle {
          position: absolute;
          bottom: 16px;
          left: 24px;
          font-size: 16px;
          font-weight: 600;
          text-align: left;
          color: #fff;
          text-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
          line-height: 48px;

          @media (max-width: 768px) {
            @include title('middle');

            color: #fff;
          }
        }

        .maskCardTitle {
          @include title('thin');

          text-align: left;
          color: #fff;

          @media (max-width: 768px) {
            @include title('middle');

            color: #fff;
          }
        }

        .maskCardParagraph {
          font-size: 18px;
          font-weight: 400;
          text-align: left;
          color: #fff;
          line-height: 26px;

          @media (max-width: 768px) {
            @include mobile-text;

            color: #fff;
          }
        }
      }
    }

    .moreAlumniInfo {
      margin-top: 56px;
      padding: 16px 36px;
      border: 2px solid #172142;
      border-radius: 12px;
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 16px;
      cursor: pointer;

      .icon {
        margin-left: 16px;
      }

      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}
