@import "@/styles/variables.scss";
.intl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;

  .img {
    background-image: url("/image/header/intl.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    transition: background-image 0.2s;
}

  span {
    line-height: initial;
    font-size: 12px;
    transition: color 0.2s;
}

  &:hover {
    .img {
      background-image: url("/image/header/intl-hover.png");
  }

    span {
      color: $primary-color;
  }
}
}