@import '@/styles/variables';

.cardListContainer {
  padding: 36px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;

  :global(.ant-divider-horizontal) {
    margin: 0;
  }

  .divider {
    margin-bottom: 42px;
    width: 100%;

    @media (width <= 768px) {
      margin-bottom: 20px;
    }
  }

  @media (width <= 768px) {
    padding: 32px 20px;
  }

  .viewer {
    margin-left: -20px;
    padding: 0;
    border: none;

    * {
      text-align: left;
    }

    h1,
    h2,
    h3 {
      padding-left: 20px;
    }

    li {
      font-size: 16px;

      &::marker {
        color: $primary-color;
      }
    }
  }

  .cardListTitle {
    font-size: 21px;
    font-weight: 600;
    text-align: left;
    color: #172142;
    line-height: 30px;
  }

  .cardList {
    .cardListItem {
      .listItemCircle {
        display: inline-block;
        margin-right: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ffad11;
      }

      .cardText {
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: #666;
        line-height: 30px;

        @media (width <= 768px) {
          vertical-align: text-top;

          @include mobile-text;

          color: #666;
        }
      }
    }
  }
}
