@import '@/styles/variables';

.content {
  margin-top: 48px;
  margin-bottom: 80px;
  width: 100%;

  @media (width <= 768px) {
    margin-top: 16px;
    margin-bottom: 48px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .titleContain {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 40px 0;

    @media (width <= 768px) {
      margin: 24px 0;
    }

    .activityTitle {
      @include title;

      line-height: 48px;

      @media (width <= 768px) {
        @include title('mobile');
      }
    }

    .pageTotal {
      font-size: 18px;
      font-weight: 500;
      color: #6a6a6a;
      line-height: 24px;

      @media (width <= 768px) {
        @include mobile-text;
      }
    }
  }

  .card {
    border-radius: 8px 8px 12px 12px;
    background: #fff;

    .imgContainer {
      overflow: hidden;
      height: 283px;

      img {
        width: 100%;
      }
    }

    .cardContent {
      padding: 36px;
      padding-top: 0;
      width: 100%;

      @media (width <= 768px) {
        padding: 24px;
        padding-top: 0;
      }

      .title {
        font-size: 20px;
        font-weight: 600;
        color: #172142;
        line-height: 30px;

        @media (width <= 768px) {
          @include title('mobile');
        }
      }

      .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        color: #666;
        line-height: 28px;

        @media (width <= 768px) {
          @include mobile-text;
        }

        .btn {
          font-size: 18px;
          color: #ffad11;

          @media (width <= 768px) {
            font-size: 16px;
          }
        }

        .icon {
          margin-right: 4px;
          font-size: 14px;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    :global(.ant-pagination-item) {
      border: 1px solid rgb(102 102 102 / 40%);
      border-radius: 6px;
      background-color: #fff;
    }

    :global(.ant-pagination-item-active) {
      border: none;
      border-radius: 6px;
      background-color: #ffad11;
    }

    :global(.ant-pagination-item-active a) {
      color: #fff;
    }
  }
}
