.introduction {
  .content {
    display: flex;
    justify-content: space-between;
    gap: 215px;

    .info {
      .descriptions {
        margin-top: 12px;

        :global(.ant-descriptions-item-label) {
          font-size: 18px;
          font-weight: 600;
          color: #172142;
          line-height: 40px;

          &::before {
            display: flex;
            align-items: center;
            margin-right: 10px;
            padding-bottom: 10px;
            width: 16px;
            height: 16px;
            border: 2px solid #ffd600;
            border-radius: 50%;
            font-weight: 800;
            background: #ffad11;
            content: '√';
            box-sizing: border-box;
          }
        }

        :global(.ant-descriptions-item-content) {
          font-size: 16px;
          color: #172142;
          line-height: 40px;
        }
      }
    }

    .side {
      display: flex;
      flex-direction: column;
      gap: 24px;

      img {
        width: 448px;
        height: 252px;
        object-fit: cover;
      }

      .btns {
        display: flex;
        gap: 20px;

        .btn {
          width: 230px;
          height: 48px;
          border-radius: 6px;
          font-size: 16px;
          font-weight: 500;
          color: #172a88;
          background: rgba($color: #172a88, $alpha: 12%);
          line-height: 24px;
        }
      }
    }
  }
}
