@import '@/styles/variables';

.studentProjects {
  @include flex(center);

  padding: 80px 15px;

  @media (width <= 768px) {
    padding: 32px 24px;
  }

  .title {
    margin: 0;

    @include title;

    @media (width <= 768px) {
      @include title('mobile');
    }
  }

  .baseTitleBg {
    display: block;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/image/home/home-title-bg-1.png');
  }

  .titleEnBg {
    @extend .baseTitleBg;

    margin-left: 136px;
    width: 160px;

    @media (width <= 768px) {
      margin-left: 92px;
      width: 96px;
    }
  }

  .titleZhBg {
    @extend .baseTitleBg;

    margin-left: 64px;
    width: 80px;

    @media (width <= 768px) {
      margin-left: 40px;
      width: 64px;
    }
  }

  .paragraphText {
    @include text(18px, 34px, $primary-color);

    font-weight: 500;

    @media (width <= 768px) {
      @include mobile-text;
    }
  }

  .paragraph {
    @extend .paragraphText;
    @include margin;

    margin-bottom: 50px;
    text-align: center;
    color: #172142;

    @media (width <= 768px) {
      margin-bottom: 16px;
      padding: 0;

      @include margin(0);
      @include mobile-text;
    }
  }

  .row {
    width: 100%;

    .card {
      position: relative;
      width: 100%;
      border-radius: 0;

      .cardTitle {
        display: block;
        margin-top: 12px;
        line-height: 40px;

        @include title('thin');

        /*         @media (width <= 992px) {
          min-height: 72px;
        } */
        @media (width <= 768px) {
          margin-top: 0;
          min-height: unset;

          @include title('middle');
        }
      }

      .cardParagraph {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #666;
        line-height: 24px;

        @media (width <= 992px) {
          display: none;
        }

        @media (width <= 768px) {
          display: initial;

          @include mobile-text;
        }
      }

      .cardMore {
        position: absolute;
        bottom: 16px;
        left: 24px;
        color: #172142;

        @media (width <= 768px) {
          @include mobile-text;
        }
      }
    }
  }
}
