@import '@/styles/variables';

.studentProjects {
  @include flex(center);

  padding: 80px 15px;

  .title {
    margin: 0;

    @include title;
  }

  .titleBg {
    display: block;
    margin-left: 144px;
    width: 160px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image/home/home-title-bg-1.png');
  }

  .paragraphText {
    @include text(18px, 34px, $primary-color);

    font-weight: 500;
  }

  .paragraph {
    @extend .paragraphText;

    margin-bottom: 50px;
    padding-right: 120px;
    padding-left: 120px;
    text-align: center;
    color: #172142;

    @media (width <= 768px) {
      margin: auto;
      margin-bottom: 80px;
      padding: 0;
    }
  }

  .row {
    width: 100%;

    @media (width <= 768px) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .cardContainer {
      display: flex;
      justify-content: space-between;

      .card {
        position: relative;
        width: 50%;
        border-radius: 0;

        .cardTitle {
          @include title('thin');

          line-height: 54px;
        }

        .cardParagraph {
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          color: #666;
          line-height: 24px;
        }

        .cardMore {
          position: absolute;
          bottom: 16px;
          left: 16px;
          color: #172142;
        }
      }
    }
  }
}
