@import '@/styles/variables';

.calendarContent {
  padding: 100px 0 0;
  width: 100%;

  .calendarContainer {
    padding: 0 30px;

    .title {
      @include title;
    }

    .listContainer {
      position: relative;
      margin-right: 0;
      padding: 40px;
      background-position: right bottom;

      .bookButton {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        background: #fbe6be;

        @include text(48px, 1, $primary-color);
        @include flex(center);
      }
    }
  }
}
