@import '@/styles/variables';

.calendarContent {
  padding: 100px 0 0;
  width: 100%;

  @media (width <= 768px) {
    padding: 50px 0 0;
  }

  .calendarContainer {
    padding: 0 24px;

    .title {
      @include title;

      @media (width <= 768px) {
        @include title('mobile');
      }
    }

    .listContainer {
      position: relative;
      margin-right: 0;
      padding: 40px;
      background-position: right bottom;

      @media (width <= 768px) {
        margin-bottom: -80px;
        padding: 0;
      }

      .bookButton {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        border-radius: 8px;
        background: #fbe6be;

        @include text(48px, 1, $primary-color);
        @include flex(center);

        @media (width <= 768px) {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
