@import '@/styles/variables';

.abstract {
  @media (max-width: 992px) {
    flex-direction: column;
  }

  .left {
    width: 100%;

    .title {
      @include title;

      line-height: 56px;

      @media (max-width: 1140px) {
        font-size: 24px;
        line-height: 24px;
      }
    }

    .abstract {
      margin-top: 30px;
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 36px;

      @media (max-width: 1200px) {
        margin-top: 16px;
        font-size: 16px;
        line-height: 30px;
      }
    }

    .full {
      text-decoration: line-through;
    }

    :global(.ant-descriptions-item-label) {
      font-size: 18px;
      font-weight: 600;
      color: #d46b14;
      line-height: 36px;

      @media (max-width: 768px) {
        line-height: 20px;
      }

      &::before {
        margin-right: 10px;
        width: 12px;
        height: 12px;
        border: 2px solid #ffd600;
        border-radius: 50%;
        background: #ffad11;
        content: '';
        box-sizing: border-box;
      }
    }

    :global(.ant-descriptions-item-content) {
      display: block;
      padding-left: 20px;
      font-size: 18px;
      color: #172142;
      line-height: 40px;

      @media (max-width: 768px) {
        padding-left: 0;
        line-height: 24px;

        @include mobile-text;
      }
    }
  }

  .right {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 40px;
    width: 420px;
    height: 310px;
    border-radius: 8px;
    background: #ffeddf;
    flex-direction: column;

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }

    .title {
      font-size: 21px;
      font-weight: bold;
      color: #d46b14;
      line-height: 34px;
    }

    .price {
      font-size: 48px;
      font-weight: 600;
      color: #d46b14;
      line-height: 70px;

      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 64px;
      }
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 270px;
      height: 64px;
      border-radius: 12px;
      font-size: 24px;
      font-weight: 500;
      color: #fff;
      background: #d46b14;
      transition: all 0.3s ease-in;
      line-height: 36px;

      @media (max-width: 768px) {
        width: 192px;
        height: 48px;
        font-size: 20px;
      }

      &:hover {
        background: #d46b14;
        box-shadow: 0 8px 12px -4px rgb(#d76100, 70%);
      }
    }

    .signUpNowTips {
      font-size: 12px;
      text-align: center;
      color: #d46b14;
    }

    .tip {
      font-size: 14px;
      font-weight: 400;
      color: #d46b14;
      line-height: 21px;

      @media (max-width: 768px) {
        margin-top: 16px;
      }
    }

    .bilingual {
      position: absolute;
      top: 0;
      right: -46px;
      width: 156px;
      height: 32px;
      border-top: 32px solid transparent;
      border-right: 32px solid transparent;
      border-bottom: 32px solid #ffad11;
      border-left: 32px solid transparent;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      color: #fff;
      transform: rotate(45deg);
      line-height: 32px;
    }
  }
}
