.timeline {

    position: relative;
    padding: 16px 0;

    :global(.ant-timeline-item-tail) {
        border-inline-start: 2px solid #172142;
        position: absolute;
    }


    :global(.ant-timeline-item-head) {
        width: 24px;
        height: 24px;
        background: #172142;
        border: none;
        margin-left: -6px;
    }

    .month {

        height: 48px;
        font-size: 36px;
        font-family: Poppins-SemiBold, Poppins;
        font-weight: 600;
        color: #172142;
        line-height: 40px;
        margin-bottom: 30px;

    }

    .line {
        border-bottom: 3px solid #172142;
        ;
        width: 36px;
        position: absolute;
        left: -20px;
    }

    .circle {
        width: 16px;
        height: 16px;
        background: #FFAD11;
        border: 4px solid #FFD600;
        border-radius: 8px;
        margin-left: 8px;
        margin-top: 1px;
    }

    .subTitle {
        color: #172142;
        font-size: 24px;
        font-weight: 600;
        margin-left: 15px;
    }

    .subContent {
        color: #172142;
        font-size: 21px;
        margin-left: 56px;
        margin-bottom: 30px;
    }

}