@import '@/styles/variables';

.timeline {
  position: relative;
  padding: 16px 0;

  :global(.ant-timeline-item-tail) {
    border-inline-start: 2px solid #172142;
    position: absolute;
    height: 100%;
  }

  :global(.ant-timeline-item-head) {
    width: 0;
    height: 0;
    border-width: 8px;
    border-color: transparent;
    border-radius: 0;
    border-top-color: $text-color;
    margin-top: 10px;
    margin-left: -3px;
    background: transparent;
  }

  .month {
    @include title;

    margin-bottom: 30px;
    height: 48px;
    font-size: 36px;
    line-height: 40px;

    @media (width <= 768px) {
      @include title('mobile');
    }
  }

  .line {
    position: absolute;
    left: -20px;
    width: 36px;
    border-bottom: 3px solid #172142;
  }

  .circle {
    margin-top: 1px;
    margin-left: 8px;
    width: 16px;
    height: 16px;
    border: 4px solid #ffd600;
    border-radius: 8px;
    background: #ffad11;
  }

  .subTitle {
    @include text(24px, 42px);

    margin-left: 15px;
    font-weight: 600;

    @media (width <= 768px) {
      @include text(18px, 32px);
    }
  }

  .subContent {
    @include text(18px, 42px);

    margin-bottom: 30px;
    margin-left: 56px;

    @media (width <= 768px) {
      @include text(18px, 32px);
    }
  }
}
