@import '@/styles/variables';

.aboutXcamp {
  margin-top: 100px;

  @media (width <= 768px) {
    margin-top: 50px;
  }

  .title {
    text-align: center;

    @include title('default');

    @media (width <= 768px) {
      @include title('mobile');
    }
  }

  .paragraph {
    font-size: 18px;
    font-weight: 36px;
    text-align: center;
    color: #172142;

    @include margin;

    @media (width <= 768px) {
      @include margin(0);
      @include mobile-text;
    }
  }

  .space {
    margin-top: 64px;

    @media (width <= 768px) {
      margin-top: 32px;
    }

    .leftImage {
      width: 500px;
      height: 332px;
      border-radius: 8px;
      background: #d8d8d8;

      @media (width <= 768px) {
        width: 100%;
        height: 320px;
      }

      @media (width >= 768px) and (width <= 1200px) {
        width: 100%;
        height: 100%;
      }
    }

    .rightSpace {
      .rightTitle {
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;

        @media (width <= 1200px) {
          @include title('middle');
        }
      }

      .rightParagraph {
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 36px;

        @media (width <= 1200px) {
          @include mobile-text;

          margin-bottom: 0;
        }
      }
    }
  }
}
