@import '@/styles/variables';

.aboutXcamp {
  margin-top: 100px;

  .title {
    text-align: center;

    @include title('default');
  }

  .paragraph {
    font-size: 18px;
    font-weight: 36px;
    text-align: center;
    color: #172142;

    @include margin;

    @media (width <= 768px) {
      @include margin(0);
    }
  }

  .space {
    margin-top: 64px;

    .leftImage {
      width: 500px;
      height: 464px;
      border-radius: 12px;
      background: #d8d8d8;

      @media (width <= 768px) {
        width: 100%;
      }
    }

    .rightSpace {
      .rightTitle {
        @include title('default');
      }

      .rightParagraph {
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 36px;
      }
    }
  }
}
