.resumeContainer {
  @media (max-width: 768px) {
    padding-right: 24px;
    padding-left: 24px;
  }

  .card {
    margin-top: 80px;
    margin-bottom: 60px;
    border-radius: 8px;
    background-color: #fff;

    @media (max-width: 768px) {
      margin-top: 48px;
      margin-bottom: 32px;
    }
  }
}
