@import '@/styles/variables';

.formContainer {
  .basicInfoContainer {
    margin-top: 30px;
  }

  .title {
    font-size: 21px;
    font-weight: 600;
    color: #172142;
    line-height: 30px;

    @media (width <= 768px) {
      @include title('middle');
    }
  }

  .description {
    padding-top: 25px;
    font-size: 18px;
    font-weight: 400;
    color: #172142;

    @media (width <= 768px) {
      font-size: 16px;
    }
  }

  .inputInfo {
    border: 1px solid #ffad11;
    border-radius: 8px;
    background: #fff;
  }

  .upBtn {
    display: flex;
    align-items: center;
    padding: 24px 36px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #fcfcfc;
    background: #ffad11;
    line-height: 24px;

    @media (width <= 768px) {
      padding: 20px 24px;
    }
  }

  .problem {
    font-size: 21px;
    font-weight: 600;
    color: #172142;
    line-height: 36px;

    @media (width <= 768px) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  .acceptText {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #172142;
    line-height: 34px;

    @media (width <= 768px) {
      font-size: 16px;
      line-height: 28px;
    }
  }
}
