@import '@/styles/variables';

.faculty {
  padding: 100px 15px;
  text-align: center;

  .title {
    margin: 0;

    @include title;
  }

  .titleBg {
    display: block;
    margin-left: -175px;
    width: 180px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image/home/home-title-bg-1.png');
  }

  .paragraph {
    margin-top: 10px;
    padding: 0;

    @include margin;
    @include text(18px, 34px);

    @media (width <= 768px) {
      padding: 0;
    }
  }

  .carouselContainer {
    position: relative;
    margin-top: 32px;

    .prev {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 999;
      background-color: $primary-color;
      transform: translateY(-50%);
    }

    .next {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 999;
      background-color: $primary-color;
      transform: translateY(-50%);
    }

    .mobile.cardContainer {
      &:first-of-type,
      &:last-of-type {
        margin: 0;
      }
    }

    .cardContainer {
      display: block;
      margin: 15px;
      text-align: left;

      .name {
        @include text(24px, 36px);

        font-weight: bold;
      }

      .description {
        @include text(18px, 26px, #666);
      }

      .more {
        @include text(14px, 16px);
      }
    }
  }
}

.cardListMobileContainer {
  @include flex;

  overflow: auto;
  width: 100%;
}
