@import '@/styles/variables';

.faculty {
  padding: 80px 15px;
  text-align: center;

  @media (max-width: 768px) {
    padding: 32px 24px;
  }

  .title {
    margin: 0;

    @include title;

    @media (max-width: 768px) {
      @include title('mobile');
    }
  }

  .baseTitleBg {
    display: block;
    margin-top: -10px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/image/home/home-title-bg-1.png');
  }

  .zhTitleBg {
    @extend .baseTitleBg;

    margin-left: -160px;
    width: 120px;

    @media (max-width: 768px) {
      margin-top: -5px;
      margin-left: -100px;
      width: 80px;
    }
  }

  .enTitleBg {
    @extend .baseTitleBg;

    margin-left: -180px;
    width: 160px;

    @media (max-width: 768px) {
      margin-top: -10px;
      margin-left: -120px;
      width: 112px;
    }
  }

  .paragraph {
    margin-top: 10px;
    padding: 0;

    @include margin;
    @include text(18px, 34px);

    @media (max-width: 768px) {
      margin-top: 0;
      margin-bottom: 10px;
      padding: 0;

      @include mobile-text;
    }
  }

  .carouselContainer {
    position: relative;
    margin-top: 32px;

    @media (max-width: 768px) {
      margin-top: 0;
    }

    .prev {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 999;
      background-color: $primary-color;
      transform: translateY(-50%);
    }

    .next {
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 999;
      background-color: $primary-color;
      transform: translateY(-50%);
    }

    .mobile.cardContainer {
      &:first-of-type {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
      }

      &:last-of-type {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
      }
    }

    .cardContainer {
      display: block;
      margin: 15px;
      text-align: left;

      @media (max-width: 768px) {
        @include mobile-text;

        margin: 15px 12px;
      }

      .name {
        @include text(24px, 36px);

        font-weight: bold;

        @media (max-width: 768px) {
          @include title('middle');
        }
      }

      .description {
        @include text(18px, 26px, #666);

        @media (max-width: 768px) {
          @include mobile-text;
        }
      }

      .more {
        @include text(14px, 16px);

        @media (max-width: 768px) {
          @include mobile-text;
        }
      }
    }
  }
}

.cardListMobileContainer {
  @include flex;

  overflow: auto;
  width: 100%;
}
