@import '@/styles/variables';

.aboutXCampContainer {
  padding: 100px 0;
  width: 100%;

  @media (width <= 768px) {
    padding: 32px 0;
  }

  .aboutXCamp {
    .aboutXCampTop {
      position: relative;
      width: 100%;
      text-align: center;

      .title {
        margin: 0;

        @include title('default');

        span {
          color: $primary-color;
        }

        @media (width <= 768px) {
          @include title('mobile');
        }
      }

      .baseTitleBg {
        display: block;
        margin-top: -8px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('/image/home/home-title-bg-1.png');
      }

      .zhTitleBg {
        @extend .baseTitleBg;

        margin-left: -128px;
        width: 192px;
        height: 20px;

        @media (width <= 768px) {
          margin-left: -96px;
          width: 112px;
        }
      }

      .enTitleBg {
        @extend .baseTitleBg;

        margin-left: -112px;
        width: 80px;
        height: 16px;

        @media (width <= 768px) {
          margin-left: -80px;
          width: 64px;
        }
      }

      .paragraph {
        @include text(18px, 34px);

        margin-top: 12px;
        margin-bottom: 0;

        @media (width <= 768px) {
          @include mobile-text;

          margin-top: 0;
        }
      }
    }

    .row {
      width: 100%;

      @media (width <= 768px) {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }

      .card {
        margin-top: 56px;
        min-height: 305px;
        text-align: left;
        background-color: #fff;

        @media (width <= 768px) or (width <= 992px) {
          min-height: 192px;
        }

        @media (width <= 768px) {
          margin-top: 24px;
        }

        &:hover {
          box-shadow: 0 4px 10px -2px #d8d8d8;
        }

        &:hover .cardTitle {
          text-decoration: underline;
        }

        .cardIcon {
          width: 56px;
          height: 56px;
          border-radius: 4px;
          background-color: #fff;

          @media (width <= 768px) {
            width: 40px;
            height: 40px;
          }
        }

        .cardTitle {
          @include text(22px, 28px);

          font-weight: 600;

          @media (width <= 768px) {
            @include title('middle');
          }
        }

        .cardParagraph {
          margin-top: 4px;
          color: #666;

          @include text(16px, 28px);

          @media (width <= 768px) {
            margin-top: -8px;

            @include mobile-text;
          }
        }
      }
    }
  }
}
