@import '@/styles/variables';

.aboutXCampContainer {
  padding: 100px 0;
  width: 100%;

  .aboutXCamp {
    .aboutXCampTop {
      position: relative;
      width: 100%;
      text-align: center;

      .title {
        margin: 0;

        @include title('default');

        span {
          color: $primary-color;
        }
      }

      .titleBgBase {
        display: block;
        margin-left: -128px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/image/home/home-title-bg-1.png');
      }

      .titleBgZh {
        @extend .titleBgBase;

        width: 160px;
      }

      .titleBgEn {
        @extend .titleBgBase;

        width: 112px;
      }

      .paragraph {
        @include text(18px, 34px);

        margin-top: 12px;
        margin-bottom: 0;
      }
    }

    .row {
      width: 100%;

      @media (width <= 768px) {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }

      .card {
        margin-top: 56px;
        min-height: 305px;
        text-align: left;
        background-color: #fff;

        @media (width <= 768px) or (width <= 992px) {
          min-height: 278px;
        }

        &:hover {
          box-shadow: 0 4px 10px -2px #d8d8d8;
        }

        &:hover .cardTitle {
          text-decoration: underline;
        }

        .cardIcon {
          width: 56px;
          height: 56px;
          border-radius: 4px;
          background-color: #fff;
        }

        .cardTitle {
          @include text(22px, 28px);

          font-weight: 600;
        }

        .cardParagraph {
          margin-top: 4px;
          color: #666;

          @include text(16px, 28px);
        }
      }
    }
  }
}
