@import "@/styles/variables.scss";

.topBannerContainer {
  width: 100%;
  padding-bottom: 100px;
  background-color: #f5f5f5;
  .col {
    margin-top: 100px;
  }
  .title {
    @include title("bold");
    line-height: 64px;
  }
  .paragraph {
    @include title("thin");
    font-weight: 500;
    line-height: 42px;
  }
  .image {
    width: 422px;
    height: 262px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
