@import '@/styles/variables';

.relateResources {
  margin-bottom: 100px;
  padding-top: 100px;
  width: 100%;
  background-color: #f5f5f5;

  @media (width <= 768px) {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .card {
    padding: 56px;

    @media (width <= 768px) {
      padding: 16px;
    }

    .title {
      @include title;

      margin-bottom: 42px;

      @media (width <= 768px) {
        @include title('mobile');

        margin-bottom: 20px;
      }
    }

    .question {
      @include text(24px, 48px);

      font-weight: bold;

      @media (width <= 768px) {
        @include text(20px, 24px);

        font-weight: 500;
      }
    }

    .question::before {
      display: inline-block;
      margin-right: 15px;
      width: 16px;
      height: 16px;
      border: 3px solid #ffd600;
      border-radius: 50%;
      background: #ffad11;
      content: '';
    }

    .answer {
      margin-bottom: 25px;
      margin-left: 30px;
      font-size: 18px;
      font-weight: 600;
      color: #172142;
      line-height: 48px;

      @media (width <= 768px) {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
    }
  }
}
