@import "@/styles/variables";

.relateResources {
  width: 100%;
  background-color: #F5F5F5;
  padding: 60px 0;

  .card {
    padding: 56px 50px;

    .title {
      font-size: 36px;
      font-weight: 600;
      color: #172142;
      line-height: 48px;
      margin-bottom: 42px;
    }

    .question {
      font-size: 24px;
      color: #172142;
      line-height: 48px;
      font-weight: Bold;

    }

    .question::before {
      content: '';
      display: inline-block;
      margin-right: 15px;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background: #FFAD11;
      border: 3px solid #FFD600;
    }

    .answer {
      margin-left: 30px;
      color: #172142;
      font-size: 18px;
      line-height: 48px;
      font-weight: 600;
      margin-bottom: 25px;
    }
  }


}