@import '@/styles/variables';

.referralProgramWorkContainer {
  margin-bottom: 100px;

  @media (width <= 768px) {
    margin-bottom: 0;
  }

  .referralProgramWork {
    padding: 50px;

    .title {
      @include title('default');

      line-height: 48px;
    }

    .description {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      color: #172142;
      line-height: 34px;

      span {
        margin-right: 8px;
      }
    }

    .imgCol {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }
  }
}
