@import '@/styles/variables';

.scheduleTable {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  background-color: #f5f5f5;

  @media (width <= 768px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .form {
    margin-bottom: 10px;

    @media (width <= 768px) {
      margin-bottom: 0;
    }

    .row {
      width: 100%;

      @media (width <= 768px) {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }

      .text {
        font-size: 18px;
        font-weight: 400;
        color: #172142;
        line-height: 24px;

        @media (width <= 768px) {
          @include mobile-text;
        }
      }

      .select {
        width: 200px;
        font-size: 16px;
        font-weight: 400;
        color: #6a6a6a;
        line-height: 24px;

        @media (width <= 768px) {
          width: 100%;

          @include mobile-text;

          color: #6a6a6a;
        }
      }

      .search {
        width: 200px;
        font-size: 16px;
        font-weight: 400;
        color: #6a6a6a;
        line-height: 24px;

        @media (width <= 768px) {
          width: 100%;

          @include mobile-text;

          color: #6a6a6a;
        }
      }

      .button {
        border-radius: 4px;
        background: #ffad11;

        @media (width <= 768px) {
          width: 100%;
        }
      }
    }
  }
}
