.backTop {
  position: fixed;
  top: 94%;
  right: 64px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  background-color: #ffad11;
  line-height: 40px;
  cursor: pointer;

  @media (max-width: 768px) {
    right: 24px;
  }

  .icon {
    height: 100%;
    font-size: 28px;
    color: #fff;
  }
}
