.menuContent {
  .menuItem {
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    padding: 0 10px 4px 10px;
    margin-left: 6px;
    margin-right: 6px;
    border-bottom: transparent 2px solid;

    &:has(~ .dropdown:hover) {
      .icon {
        color: #ffad11;
        transform: rotate(180deg);
      }

      a {
        color: #ffad11;
      }
    }

    &:hover {
      ~ .dropdown {
        opacity: 1;
        transition-delay: 0s;
        visibility: visible;
      }

      .icon {
        color: #ffad11;
        transform: rotate(180deg);
      }

      a {
        color: #ffad11;
        transition: none;
      }
    }

    .icon {
      font-size: 12px;
      margin-left: 2px;
      transition: all 0.5s ease 0s;
    }

    a {
      color: rgba(0, 0, 0, 0.88);
    }

    :global(.selectedItem) {
      border-bottom: #ffad11 2px solid;

      .icon {
        color: #ffad11;
        transform: rotate(180deg);
      }

      a {
        color: #ffad11;
      }
    }
  }

  :global(.selectedItem) {
    border-bottom: #ffad11 2px solid;

    .icon {
      color: #ffad11;
      transform: rotate(180deg);
    }

    a {
      color: #ffad11;
    }
  }
}

.dropdown {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s,
    visibility 0s 0.3s;

  &:hover {
    visibility: visible;
    opacity: 1 !important;
  }
}
