@import '@/styles/variables.scss';

.bannerContainer {
  width: 100%;
  padding-bottom: 100px;
  position: relative;

  .col {
    margin-top: 100px;
  }

  .title {
    @include title('bold');
    line-height: 64px;
  }

  .paragraph {
    @include title('thin');
    font-weight: 500;
    line-height: 42px;
  }

  .image {
    position: absolute;
    width: 300px;
    bottom: -100px;
    left: 150px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
