@import '@/styles/variables';

.campFAQS {
  margin-bottom: 50px;
  padding: 50px 0;
  width: 100%;

  .title {
    @include title('bold');

    line-height: 64px;
    text-align: center;
  }

  .cardContent {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;

    .qaCard {
      margin: 10px 0;
      width: 50%;

      @media (width <= 768px) {
        width: 100%;
      }
    }
  }
}
