@import '@/styles/variables';

.campFAQS {
  margin-bottom: 50px;
  padding: 50px 15px;

  @media (width <= 768px) {
    margin-bottom: 16px;
    padding: 16px 24px;
  }

  .title {
    @include title('bold');

    margin-bottom: 50px;
    text-align: center;
    line-height: 64px;

    @media (width <= 768px) {
      @include title('mobile');

      margin-bottom: 16px;
    }
  }

  .cardContent {
    display: flex;
    align-items: center;
    flex-direction: column;

    .qaCard {
      margin: 10px 0;
      width: 100%;

      @media (width <= 768px) {
        width: 100%;
      }
    }
  }
}
