.content {
  padding: 100px 0;

  .title {
    font-size: 24px;
    font-weight: 600;
    color: #172142;
    line-height: 48px;

    &::before {
      position: relative;
      top: 4px;
      left: 0;
      display: inline-block;
      margin-right: 10px;
      width: 8px;
      height: 8px;
      border: 2px solid #ffd600;
      border-radius: 50%;
      background-color: #ffad11;
      content: '';
      transform: translate(0, -50%);
    }
  }

  .description {
    font-size: 18px;
    color: #172142;
    line-height: 40px;

    span {
      color: #d46b14;
    }

    li {
      margin-left: 30px;
    }
  }

  .btn {
    margin: 40px 0;
    width: 208px;
    height: 56px;
    border: 2px solid #172142;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 500;
    color: #172142;
    line-height: 24px;
  }

  .tip {
    font-size: 14px;
    font-weight: 400;
    color: #d46b14;
    line-height: 24px;
  }
}
