@import "@/styles/variables.scss";
.cardContainer {
  border: none;
  background-color: #ffffff;
  padding: 20px 36px 0;

  .jobCardTitle {
    @include text(24px, 36px);
    margin: 0;
  }

  .expandBtn {
    border: none;
    color: #ffad11;
  }

  .jobCardDescription {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 28px;
  }

  .iconsButtonRow {
    width: 100%;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      display: block;
    }

    .iconBox {
      display: flex;

      .iconText {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #666666;
        line-height: 28px;
      }
    }

    .applyBtn {
      display: flex;
      align-items: center;
      padding: 12px 36px;
      background: #ffad11;
      border-radius: 12px;
      font-size: 16px;
      font-weight: 500;
      color: #ffffff;
      line-height: 24px;

      @media (max-width: 768px) {
        margin: 20px auto;
        margin-bottom: 0;
      }
    }
  }

  .expandIcon {
    transform: rotateX(180deg);
  }
}
