@import '@/styles/variables';

.cardContainer {
  padding: 20px 20px 0;
  border: none;
  background-color: #fff;

  .jobCardTitle {
    @include text(24px, 36px);

    margin: 0;

    @media (width <= 768px) {
      @include title('middle');

      margin-bottom: 12px;
    }
  }

  .expandBtn {
    border: none;
    color: #ffad11;

    @media (width <= 768px) {
      margin-top: -8px;
    }
  }

  .jobCardDescription {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #666;
    line-height: 28px;

    @media (width <= 768px) {
      @include mobile-text;

      margin-top: 8px;
      color: #666;
    }
  }

  .iconsButtonRow {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    width: 100%;

    @media (width <= 768px) {
      display: block;
      padding: 12px 0 16px;
    }

    .iconBox {
      display: flex;

      @media (width <= 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .iconText {
        margin-left: 10px;
        font-size: 18px;
        font-weight: 400;
        color: #666;
        line-height: 28px;

        @media (width <= 768px) {
          @include mobile-text;

          color: #666;
        }
      }
    }

    .applyBtn {
      display: flex;
      align-items: center;
      padding: 8px 36px;
      border-radius: 12px;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      background: #ffad11;
      line-height: 24px;

      @media (width <= 768px) {
        display: block;
        padding: 8px;
        width: 88px;
        color: #fff;

        @include mobile-text;
      }
    }
  }

  .expandIcon {
    transform: rotateX(180deg);
  }
}
