@mixin title($type: 'normal') {
  @if $type == 'normal' {
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    line-height: 42px;
  }
}

@mixin text($fontSize: 14px, $lineHeight: 20px, $color: $text-color) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

@mixin button($type: 'normal') {
  @if $type == 'nav' {
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #172142;

    span {
      span {
        line-height: 20px;
      }
      @include text;
      svg {
        margin-left: 4px;
      }
    }
  }
}

@mixin flex($justContent: flex-start, $alignItems: center, $flex: flex) {
  display: $flex;
  align-items: $alignItems;
  justify-content: $justContent;
}