@import "mixins";
$primary-color: #ffad11;
$text-color: #172142;
.hoverButton {
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: #fff;
}

$text-size: (
  title: 36px,
  title-2: 24px,
  text: 18px,
  text-2: 16px,
  text-3: 14px
)