@import '@/styles/variables';

.ArtOfProgrammingResultsContainer {
  margin-top: 100px;

  @media (width <= 768px) {
    margin-top: 32px;
  }

  .ArtOfProgrammingResults {
    padding-bottom: 100px;

    .title {
      @include title('default');

      @media (width <= 768px) {
        @include title('mobile');
      }
    }

    .introduction {
      margin-top: 30px;
      font-size: 21px;
      font-weight: 500;
      color: #172142;
      line-height: 40px;

      @media (width <= 768px) {
        margin-top: 20px;

        @include mobile-text;
      }
    }

    .listContainer {
      margin-right: 0;
      padding: 0 40px 40px;
      background-position: right bottom;

      @media (width <= 768px) {
        padding: 0;
      }

      .listItem {
        position: relative;

        .itemTitle {
          @include title('thin');

          line-height: 48px;
          position: relative;
          left: -20px;

          @media (width <= 768px) {
            left: 8px;

            @include title('middle');
          }
        }

        .itemTitle::before {
          position: relative;
          left: -20px;
          display: inline-block;
          margin-right: 5px;
          width: 15px;
          height: 15px;
          border: 3px solid #ffd600;
          border-radius: 50%;
          background-color: #ffad11;
          content: '';

          @media (width <= 768px) {
            left: -10px;
          }
        }
      }

      .itemDetail {
        border: none;
        font-size: 21px;
        color: #172142;
        line-height: 48px;

        p {
          margin-top: 0;
        }

        @media (width <= 768px) {
          @include mobile-text;
        }
      }
    }

    .projectsDemo {
      .title {
        @include title;

        @media (width <= 768px) {
          margin-top: 16px;

          @include title('mobile');
        }
      }

      .subTitle {
        @include title('thin');

        line-height: 48px;

        @media (width <= 768px) {
          margin-left: 0;
          font-size: 20px;
          line-height: 20px;
        }

        &::before {
          position: relative;
          left: 0;
          display: inline-block;
          margin-right: 20px;
          width: 15px;
          height: 15px;
          border: 3px solid #ffd600;
          border-radius: 50%;
          background-color: #ffad11;
          content: '';
        }
      }

      .videoList {
        margin-bottom: 30px;

        .videoItem {
          width: 100%;
          background-color: #fff;

          @media (width <= 768px) {
            display: block;
          }

          video {
            width: 100%;
            background-color: #ffeddf;
          }

          .videoTitle {
            margin-top: 15px;
            font-size: 24px;
            font-weight: 600;
            color: #172142;
            line-height: 32px;

            @media (width <= 768px) {
              @include mobile-text;
            }
          }
        }
      }
    }
  }
}
