@import '@/styles/variables';

.ArtOfProgrammingResultsContainer {
  margin-top: 100px;

  @media (width <= 768px) {
    margin-top: 50px;
  }

  .ArtOfProgrammingResults {
    padding-bottom: 100px;

    @media (width <= 768px) {
      padding-bottom: 50px;
    }

    @media (width <= 768px) {
      padding: 30px;
    }

    .firstTitle {
      @include title('bold');

      margin-top: 0;

      @media (width <= 768px) {
        @include title('mobile');
      }
    }

    .intro {
      font-size: 18px;
      font-weight: 400;
      color: #172142;
      line-height: 34px;

      @media (width <= 768px) {
        @include mobile-text;
      }
    }

    .timeListItem {
      padding-right: 40px;
      padding-left: 40px;

      @media (width <= 768px) {
        padding-right: 20px;
        padding-left: 20px;
        font-size: 20px;
      }

      .timeListTitle {
        @include title('thin');

        line-height: 48px;
        position: relative;
        left: -20px;

        @media (width <= 768px) {
          left: -10px;
          font-size: 20px;
          line-height: 20px;
        }
      }

      .timeListTitle::before {
        position: relative;
        left: -20px;
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 3px solid #ffd600;
        border-radius: 50%;
        background-color: #ffad11;
        content: '';
      }

      .timeListDetail {
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 48px;

        @media (width <= 768px) {
          @include mobile-text;
        }
      }
    }

    .projectDemo {
      .title {
        @include title;

        @media (width <= 768px) {
          margin-top: 30px;

          @include title('mobile');
        }
      }

      .subTitle {
        @include title('thin');

        line-height: 48px;

        @media (width <= 768px) {
          margin-left: 5px;
          font-size: 20px;
          line-height: 20px;
        }

        &::before {
          position: relative;
          left: 0;
          display: inline-block;
          margin-right: 20px;
          width: 15px;
          height: 15px;
          border: 3px solid #ffd600;
          border-radius: 50%;
          background-color: #ffad11;
          content: '';
        }
      }

      .videoList {
        margin-bottom: 100px;

        .videoItem {
          background-color: #fff;

          @media (width <= 768px) {
            display: block;
          }

          video {
            width: 100%;
            background-color: #ffeddf;
          }

          .videoTitle {
            font-size: 24px;
            font-weight: 600;
            color: #172142;
            line-height: 32px;

            @media (width <= 768px) {
              @include mobile-text;
            }
          }
        }
      }
    }
  }
}
