@import '@/styles/variables.scss';

.timeLineContainer {
  margin-top: 100px;
  .timeLine {
    .title {
      @include title('default');
    }

    .listContainer {
      padding: 40px;
      margin-right: 0;
      background-position: right bottom;

      .timeListItem {
        position: relative;
        .timeListTitle {
          @include title('thin');
          line-height: 48px;
          position: relative;
          left: -20px;
        }

        .timeListTitle::before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #ffad11;
          position: relative;
          left: -20px;
          margin-right: 5px;
          border: 3px solid #ffd600;
        }
      }

      .timeListDetail {
        border: none;
        color: #172142;
        font-size: 21px;
        line-height: 48px;
      }
    }

    .intro {
      font-size: 21px;
      font-weight: 500;
      color: #172142;
      line-height: 40px;
      margin-top: 30px;
    }

    .download {
      display: flex;
      align-items: center;
      margin-bottom: 100px;
      margin-top: 50px;
      cursor: pointer;

      .downloadText {
        font-size: 21px;
        font-weight: 500;
        color: #d46b14;
        line-height: 40px;
        margin-left: 8px;
      }
    }

    .row {
      @media (max-width: 768px) {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .col {
        width: 100%;
        height: 320px;
      }

      .cardItem {
        border-radius: 10px;
        padding-bottom: 6px;
        text-align: center;
        margin-top: 64px;

        .title {
          font-size: 72px;
          font-weight: 600;
          line-height: 100px;
        }

        .text {
          font-size: 18px;
          font-weight: 600;
          color: #172142;
          line-height: 32px;
        }
      }
    }
  }
}
