@import '@/styles/variables';

.reviewsContainer {
  width: 100%;
  background: url('/image/home/icon-home-reviews.png') no-repeat right;
  background-size: contain;
  flex-direction: column;
  background-color: #fff5e8;

  .reviews {
    position: relative;
    padding: 80px 120px;

    @media (width <= 768px) {
      padding: 70px 30px;
    }

    .prev {
      position: absolute;
      top: 50%;
      left: 45px;
      z-index: 999;
      background-color: #ffad11;
      transform: translateY(-50%);
    }

    .next {
      position: absolute;
      top: 50%;
      right: 45px;
      z-index: 999;
      background-color: #ffad11;
      transform: translateY(-50%);
    }

    & .reviewsContainer {
      padding: 22px 15px;
      background: transparent;

      .reviewsTitle {
        @include text(18px, 30px);

        display: -webkit-box;
        overflow: hidden;
        font-weight: 600;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }

      .reviewsParagraph {
        @include text(16px, 24px, #666);

        height: 96px;
      }

      .reviewsDate {
        font-size: 16px;
        font-weight: 400;
        color: rgb(102 102 102 / 70%);
        line-height: 28px;
      }
    }
  }
}
