@import "@/styles/variables.scss";
.reviewsContainer {
  width: 100%;
  background: #fdf6f1;
  .reviews {
    padding: 70px 120px;
    position: relative;
    background: url("/image/home/icon-home-reviews.png") no-repeat right;
    background-size: contain;
    @media (max-width: 768px) {
      padding: 70px 30px;
    }
    .prev {
      background-color: #ffad11;
      position: absolute;
      left: 45px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
    }
    .next {
      background-color: #ffad11;
      position: absolute;
      right: 45px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;
    }
    & .reviewsContainer {
      padding: 22px 15px;
      background: transparent;

      .reviewsTitle {
        @include text(18px, 30px);
        font-weight: 600;

        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      .reviewsParagraph {
        @include text(16px, 24px, #666);
        height: 96px;
      }
      .reviewsDate {
        font-size: 16px;
        font-weight: 400;
        color: rgba(102, 102, 102, 0.7);
        line-height: 28px;
      }
    }
  }
}
