@import "@/styles/variables.scss";
.usacoContainer {
  @include flex(center);
  width: 100%;
  background: url("/image/common/x-camp-logo.png") no-repeat;
  background-size: contain;
}

.row {
  position: relative;
  width: 100%;
  height: 338px;
  padding: 0 160px;

  @media (max-width: 768px) {
    padding: 0;
    height: 220px;
    max-width: 100%;
  }

  @media (max-width: 992px) {
    padding: 0;
  }

  .logo {
    height: 338px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .titleContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    .title {
      font-size: 36px;
      font-weight: 600;
      color: #172142;
      line-height: 48px;
      text-align: center;
    }
    @media (max-width: 768px) {
      position: relative;
    }
  }
  .col {
    @include flex(center);
  }
  .medalContainer {
    width: 230px;
    text-align: center;
    background: url("/image/common/usaco-medal.png") no-repeat center;
    background-size: 140px 90px;
    @media (max-width: 768px) {
    }
    .medalCount {
      font-size: 48px;
      font-weight: 600;
      line-height: 48px;
      width: 100%;
    }

    .medalTitle {
      display: block;
      @include text(16px, 24px, #666);
      font-weight: 500;
    }
  }
}
