@import "@/styles/variables.scss";
.usacoContainer {
  @include flex('center');
  flex-direction: column;
  width: 100%;
  background: url("/image/common/x-camp-logo.png") no-repeat;
  background-size: contain;
  padding: 50px 0;
}

.titleContainer {
  margin: 24px;
  .title {
    font-size: 36px;
    font-weight: 600;
    color: #172142;
    line-height: 48px;
    text-align: center;
    margin: 0;
  }
  @media (max-width: 768px) {
    position: relative;
  }
}

.row {
  position: relative;
  width: 100%;
  padding: 0 160px;

  @media (max-width: 768px) {
    padding: 0;
    max-width: 100%;
  }

  @media (max-width: 992px) {
    padding: 0;
  }

  .logo {
    height: 338px;
    @media (max-width: 768px) {
      display: none;
    }
  }


  .col {
    @include flex(center);
  }
  .medalContainer {
    width: 230px;
    text-align: center;
    margin-top: 20px;
    background: url("/image/common/usaco-medal.png") no-repeat center;
    background-size: 140px 90px;
    @media (max-width: 768px) {
    }
    .medalCount {
      font-size: 48px;
      font-weight: 600;
      line-height: 48px;
      width: 100%;
    }

    .medalTitle {
      display: block;
      @include text(16px, 24px, #666);
      font-weight: 500;
    }
  }
}
