@import "@/styles/variables.scss";

.usacoContainer {
  @include flex("center");
  flex-direction: column;
  width: 100%;
  background: url("/image/common/x-camp-logo.png") no-repeat;
  background-size: contain;
  padding: 50px 0;
}

.titleContainer {
  margin: 24px;
  .title {
    @include title();
    text-align: center;
    margin: 0;
  }
  @media (max-width: 768px) {
    position: relative;
  }
}

.row {
  position: relative;
  width: 100%;
  padding: 0 160px;

  @media (max-width: 768px) {
    padding: 0;
    max-width: 100%;
  }

  @media (max-width: 992px) {
    padding: 0;
  }

  .logo {
    height: 338px;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .col {
    @include flex(center);
  }
  .baseMedalContainer {
    width: 230px;
    text-align: center;
    margin-top: 20px;
    background-size: 160px 96px !important;
    .medalCount {
      font-size: 48px;
      font-weight: 600;
      line-height: 48px;
      width: 100%;
    }

    .medalTitle {
      display: block;
      @include text(16px, 24px, #666);
      font-weight: 500;
    }
  }
  .bronzeMedal {
    @extend .baseMedalContainer;
    background: url("/image/common/usaco-bronze.png") no-repeat center;
  }
  .silverMedal {
    @extend .baseMedalContainer;
    background: url("/image/common/usaco-silver.png") no-repeat center;
  }
  .goldMedal {
    @extend .baseMedalContainer;
    background: url("/image/common/usaco-gold.png") no-repeat center;
  }
  .platinumMedal {
    @extend .baseMedalContainer;
    background: url("/image/common/usaco-platinum.png") no-repeat center;
  }
}
