.becomePartnerContainer {
  padding: 100px 0;

  .becomePartner {
    .content {
      padding: 102px 132px;
      background: #ffffff;
      border-radius: 8px;
      text-align: center;

      .title {
        font-size: 48px;
        font-weight: 600;
        color: #172142;
        line-height: 64px;
      }

      .description {
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 34px;
      }

      .contactBtn {
        width: 196px;
        height: 56px;
        border-radius: 12px;
        border: 2px solid #172142;
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 24px;
      }
    }
  }
}
