.segmentedRadioGroup {
  margin: 0 auto;
  width: 50%;

  @media (width <= 1200px) {
    width: 100%;
  }

  :global(.ant-segmented-group) {
    padding: 8px 36px;

    @media (width <= 768px) {
      padding: 0;
    }
  }

  :global(.ant-segmented-item-label) {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;

    @media (width <= 768px) {
      font-size: 14px;
    }
  }

  :global(.ant-segmented-item-selected) {
    color: #fff;
    background-color: #ffad11;
  }

  .radioGroup {
    width: 100%;
    text-align: center;
  }
}
