@import '@/styles/variables';

.weSupport {
  padding: 80px 15px;
  background-color: #efefef;

  @media (width <= 768px) {
    padding: 32px 22px;
  }

  .title {
    @include title('default');

    margin: 0;

    @media (width <= 768px) {
      @include title('mobile');
    }
  }

  .baseTitleBg {
    display: block;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/image/home/home-title-bg-1.png');
  }

  .zhTitleBg {
    @extend .baseTitleBg;

    margin-left: 72px;
    width: 80px;

    @media (width <= 768px) {
      margin-left: 40px;
      width: 64px;
    }
  }

  .enTitleBg {
    @extend .baseTitleBg;

    margin-left: 192px;
    width: 192px;

    @media (width <= 768px) {
      margin-left: 128px;
      width: 120px;
    }
  }

  .paragraph {
    margin-top: 10px;

    @include text(18px, 34px);

    font-weight: 500;

    @media (width <= 768px) {
      @include mobile-text;

      margin-top: 4px;
    }
  }

  .imageContainer {
    @media (width <= 992px) {
      margin-top: 14px;
      margin-bottom: 28px;
      border-radius: 8px;
      background: #e7e7e7;
    }
  }

  .imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    @media (width <= 768px) {
      padding-right: 15px;
      padding-left: 15px;
      height: 48px;
    }
  }
}
