@import '@/styles/variables';

.referralAndEarn {
  padding: 50px 15px;

  @media (width <= 768px) {
    padding: 16px 24px;
  }

  .giveAndGetCard {
    padding: 30px;

    @media (width <= 768px) {
      padding: 0;
    }

    .title {
      @include title('default');

      line-height: 48px;

      @media (width <= 768px) {
        @include title('mobile');

        margin-bottom: 24px;
      }
    }

    .description {
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 34px;

      @media (width <= 768px) {
        @include mobile-text;
      }
    }

    .subTitle {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 600;
      color: #172142;
      line-height: 36px;

      @media (width <= 768px) {
        @include title('middle');

        margin-bottom: 24px;
      }

      span {
        color: #d46b14;

        @media (width <= 768px) {
          @include title('middle');

          color: #d46b14;
        }
      }
    }
  }
}
