@import "@/styles/variables";

.calendarContent {
  width: 100%;

  .calendarContainer {
    padding: 30px;

    .title {
      font-size: 36px;
      font-weight: 600;
      color: #172142;
      line-height: 64px;
    }

    .listContainer {
      padding: 40px;
      //background: url("/logo/x-camp-logo.png") no-repeat;
      margin-right: 0;
      background-position: right bottom;
      position: relative;

      .bookButton {
        float: right;
        z-index: 999;
        width: 80px;
        height: 80px;
        top: 0;
        border-radius: 8px;
        border: none;
        font-size: 40px;
        font-weight: 500;
        color: #FFAD11;

        &:hover {
          @extend .hoverButton;
        }
      }
    }
  }

}