@import "@/styles/variables.scss";

.calendarContent {
  width: 100%;
  padding: 100px 0 0;

  .calendarContainer {
    padding: 0 30px;

    .title {
      @include title();
    }

    .listContainer {
      padding: 40px;
      margin-right: 0;
      background-position: right bottom;
      position: relative;
      .bookButton {
        position: absolute;
        top: 0px;
        right: 0;
        width: 80px;
        height: 80px;
        background: #fbe6be;
        border-radius: 8px;
        @include text(48px, 1, $primary-color);
        @include flex(center);
      }
    }
  }
}
