.calendarContent {
  width: 100%;

  .calendarContainer {
    padding: 30px;
    .title {
        font-size: 48px;
        font-weight: 600;
        color: #D46B14;
        line-height: 64px;
    }
  
    .listContainer {
      padding: 40px;
      background: url("/logo/x-camp-logo.png") no-repeat;
      margin-right: 0;
      background-position: right bottom;
      
    }
}


   
}
