@import '@/styles/variables';

.banner {
  width: 100%;
  background-image: url('/image/courses/course-detail-banner.png');
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    position: relative;

    @media (width <= 768px) {
      padding-right: 24px;
      padding-left: 24px;
    }

    .breadcrumb {
      padding-top: 36px;

      @media (width <= 1200px) {
        padding-top: 24px;
      }
    }

    .title {
      @include title('default');

      line-height: 48px;

      @media (width <= 768px) {
        @include title('mobile');

        margin-top: 24px;
        margin-bottom: 24px;
      }
    }

    .abstract {
      margin: 12px 0 24px;
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 36px;

      @media (width <= 1200px) {
        margin-top: 16px;
        font-size: 16px;
        line-height: 30px;
      }
    }

    .tags {
      display: flex;
      gap: 33px;
      padding-bottom: 16px;

      .item {
        display: flex;
        gap: 8px;
        font-size: 16px;
      }
    }
  }
}
