@import '@/styles/variables';

.joinUsFacultyContainer {
  margin-bottom: 100px;

  @media (max-width: 768px) {
    margin-bottom: 16px;
    padding: 20px 10px;
    padding-top: 0;
  }

  .joinUsFaculty {
    display: flex;

    @media (max-width: 768px) {
      display: block;
    }

    .xCampIntro {
      padding-top: 60px;

      @media (max-width: 1200px) {
        padding-top: 0;
      }

      .logo {
        width: 40%;
      }

      .introText {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 34px;

        @media (max-width: 768px) {
          margin-top: 20px;
          margin-bottom: 16px;

          @include mobile-text;
        }
      }

      .introBtn {
        padding: 10px 24px;
        height: 48px;
        border: 2px solid #172142;
        border-radius: 12px;
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 24px;

        @media (max-width: 768px) {
          @include mobile-text;
        }
      }
    }

    .facultyImgs {
      padding: 30px;
      width: 100%;

      @media (max-width: 768px) {
        padding: 24px;
      }
    }
  }
}
