.jobSelectionContainer {
    .jobSelection {

        padding: 50px 50px;
        text-align: center;

        .btnContainer {

            display: flex;
            justify-content: space-around;

            //padding: 0 60px;
            @media (max-width: 768px) {
                display: block;

            }

            .choiceBtn {
                margin: 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 25px 60px;
                font-size: 24px;
                font-weight: 500;
                color: #6A6A6A;
                line-height: 36px;
                border-radius: 12px;

                background: #F5F5F5;
                border: 2px solid #D8D8D8;

                @media (max-width: 768px) {
                    margin: 20px auto;
                }

            }

            .selectedBtn {
                border: none;
                background-color: #FFAD11;
                color: #FFFFFF;
            }
        }






        .jobCardContainer {
            margin-top: 50px;

            .collapseCard {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}