.topBannerContainer {

    position: relative;
    width: 100%;
    background-image: url("/image/about-us/join-us/JoinUsBannerBackground.png");

    .col1,
    .col2 {
        @media (max-width: 768px) {
            margin-top: 30px !important;
            padding: 15px;
            padding-bottom: 0;
        }
    }

    .col1 {
        padding-bottom: 100px;

        .title {
            font-size: 48px;
            font-weight: bold;
            color: #172142;
            line-height: 64px;
        }

        .paragraph {
            font-size: 24px;
            font-weight: 500;
            color: #172142;
            line-height: 42px;
        }

        .contactBtn {
            background-color: #F5F5F5;
            border: none;
            padding: 25px 35px;
            font-size: 24px;

            font-size: 18px;
            font-weight: 500;
            color: #172142;
            line-height: 24px;
            border-radius: 12px;
            border: 2px solid #172142;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 768px) {
            padding-bottom: 0;
        }
    }


    .col2 {
        display: flex;
        align-items: end;

        @media (max-width: 768px) {
            height: auto;
        }

        .image {
            @media (max-width: 768px) {
                margin-top: 40px !important;
            }
        }
    }



}