.topBannerContainer {
  position: relative;
  width: 100%;

  .content {
    padding: 0 100px;

    @media (max-width: 992px) {
      padding: 0 20px;
    }

    .col1,
    .col2 {
      @media (max-width: 768px) {
        margin-top: 30px !important;
        padding: 15px;
        padding-bottom: 0;
      }
    }

    .col1 {
      padding-bottom: 100px;

      .title {
        margin-top: 60px;
        font-size: 48px;
        font-weight: bold;
        color: #172142;
        line-height: 64px;

        @media (max-width: 992px) {
          font-size: 36px;
          line-height: 48px;
        }
      }

      .paragraph {
        font-size: 24px;
        font-weight: 500;
        color: #172142;
        line-height: 42px;

        @media (max-width: 992px) {
          font-size: 20px;
          line-height: 36px;
        }
      }

      .contactBtn {
        width: 200px;
        height: 56px;
        border-radius: 12px;
        border: 2px solid #172142;
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin-left: 8px;
        }
      }

      @media (max-width: 768px) {
        padding-bottom: 0;
      }
    }

    .col2 {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      @media (max-width: 768px) {
        height: auto;
      }

      .image {
        @media (max-width: 992px) {
          display: none;
        }
      }
    }
  }
}
