@import '@/styles/variables';

.flag {
  position: relative;
  padding-top: 70px;
  padding-bottom: 80px;
  text-align: center;

  .title {
    @include title('bold');

    line-height: 64px;
  }

  .text {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #172142;
    line-height: 34px;
  }

  .topRow {
    margin-top: 56px;
  }

  .bottomRow {
    margin-top: 100px;
  }

  .image {
    width: 260px;
    height: 140px;
  }
}
