.storiesContainer {
  width: 100%;
  background-color: #d8d8d8;
  padding-top: 70px;
  padding-bottom: 128px;
  .topSpace {
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 48px;
      font-weight: 600;
      color: #d46b14;
      line-height: 64px;
    }
    .paragraph {
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 34px;
    }
    .button {
      font-size: 16px;
      font-weight: 500;
      color: #ffffff;
      line-height: 24px;
      background-color: #ffad11;
      padding: 20px 56px;
      border-radius: 12px;
      border: none;
      cursor: pointer;
      text-align: center;
    }
  }
  .row {
    margin-top: 64px;
    @media (max-width: 768px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .cardImage {
      width: 100%;
    }
    .cardTitle {
      font-size: 24px;
      font-weight: 600;
      color: #172142;
      line-height: 36px;
      display: block;
      padding-left: 24px;
      padding-right: 24px;
      .cardButton {
        margin-left: 8px;
        vertical-align: middle;
      }
    }
    .cardParagraph {
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 30px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
