@import "@/styles/variables.scss";

.subscribeNewsletter {
  text-align: center;
  margin-bottom: 100px;
  .space {
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 80px;
    .title {
      @include title("default");
      line-height: 56px;
    }
    .paragraph {
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 34px;
    }

    .form {
      display: flex;
      justify-content: center;
      .formSelect {
        height: 42px;
      }

      .submit {
        width: 140px;
        height: 42px;
        background-color: #ffad11;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        line-height: 27px;
      }
    }
  }
}
