@import '@/styles/variables';

.subscribeNewsletter {
  margin-bottom: 100px;
  text-align: center;

  .space {
    padding-top: 50px;
    padding-bottom: 80px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;

    .title {
      @include title('default');

      line-height: 56px;
    }

    .paragraph {
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 34px;
    }

    .form {
      display: flex;
      justify-content: center;

      .formSelect {
        height: 42px;
      }

      .submit {
        width: 140px;
        height: 42px;
        border-radius: 4px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        background-color: #ffad11;
        line-height: 27px;
      }
    }
  }
}
