@import '@/styles/variables';

.content {
  width: 100%;
  margin-top: 150px;
  .title {
    @include title('default');
    line-height: 48px;
    text-align: center;
  }

  .paragraph {
    font-size: 18px;
    font-weight: 600;
    color: #172142;
    line-height: 36px;
  }
  .text {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 500;
    color: #172142;
  }
}
