@import '@/styles/mixins';

// 设置全局 滚动条样式 样式
*::-webkit-scrollbar {
  content: '';
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(152 155 163 / 50%);
  box-shadow: inset 0 0 5px #9b9ba3;
  content: '';
}

@font-face {
  font-family: MontserratAlternates-Bold;
  src: url('/fonts/MontserratAlternates-Bold.ttf');
  font-style: normal;
  font-variant: small-caps;
  font-stretch: expanded;
  unicode-range: U+0025-00FF;
}

body {
  margin: 0;
  padding: 0;
  font-family: MontserratAlternates-SemiBold, Arial;
  background-color: #fff;
}

html {
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

@media (width >= 576px) {
  .container {
    max-width: 540px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 720px;
  }
}

@media (width >= 992px) {
  .container {
    max-width: 960px;
  }
}

@media (width >= 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (width >= 1400px) {
  .container {
    max-width: 1320px;
  }
}

.ant-carousel .slick-dots li {
  width: 6px;
  height: 6px;
  transition: none;

  button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffad11;
    opacity: 0.5;
  }
}

.ant-carousel .slick-dots li.slick-active {
  width: 6px;
  height: 6px;
  transition: none;

  button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffad11 !important;
  }
}

.ant-popover-content .ant-popover-inner {
  padding: 20px 24px;
}

.videoIframe {
  width: 640px;
  height: 360px;
  border: none;

  @media (width>=768px) and (width<=1200px) {
    width: 480px;
    height: 270px;
  }

  @media (width <= 768px) {
    width: 320px;
    height: 180px;
  }
}
