@import "@/styles/variables";

.topBanner {
  width: 100%;
  padding-bottom: 64px;
  background-image: url('/image/home/carousel-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    width: 100%;
    margin-top: 85px;
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
      font-size: 48px;
      font-weight: 900;
      color: #d46b14;
      line-height: 58px;
      margin-bottom: 36px;
    }

    .paragraph {
      max-width: 701px;
      font-size: 28px;
      font-weight: 500;
      color: $primary-color;
      line-height: 42px;
      margin-bottom: 0;
    }

    .paragraph:nth-child(2) {
      margin-bottom: 36px;
    }

    .contact {
      color: #172a88;
      font-weight: 600;
      font-size: 21px;
    }

    .button {
      width: 272px;
      height: 72px;
      background: #FFAD11;
      border-radius: 12px;
      font-size: 24px;
      font-weight: 600;
      color: #FFFFFF;
      line-height: 40px;
      text-align: left;
      padding-left: 36px;
    }
  }
}