@import "@/styles/variables";

.topBanner {
  width: 100%;
  padding-bottom: 64px;
  background-image: url("/image/home/carousel-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    padding-top: 85px;

    .title {
      font-size: 48px;
      font-weight: 900;
      color: #172142;
      line-height: 58px;
    }

    .paragraph {
      font-size: 28px;
      font-weight: 500;
      color: #172142;
      line-height: 42px;
    }

    .paragraph:nth-child(2) {
      margin-bottom: 36px;
    }

    .contact {
      a {
        font-size: 21px;
        font-weight: 600;
        color: #d46b14;
        line-height: 46px;
        text-decoration: underline;
      }
    }

    .button {
      width: 272px;
      height: 72px;
      background-color: #fff;
      border-radius: 12px;
      font-size: 24px;
      font-weight: 600;
      color: #d46b14;
      border-color: #d46b14;
      line-height: 40px;
      text-align: left;
      padding-left: 36px;
    }
  }
}