@import '@/styles/variables';

.XCampFounder {
  position: relative;
  margin-top: 120px;
  padding-bottom: 120px;

  .title {
    @include title;
  }

  .paragraph {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #172142;
    line-height: 36px;

    @include margin;

    @media (width <= 768px) {
      @include margin(0);
    }
  }

  .row {
    margin-top: 100px;

    @media (width <= 768px) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  .baseImgCol {
    display: flex;
    justify-content: center;
  }

  .baseImgBackground {
    position: relative;
    width: 368px;
    height: 416px;
    border-radius: 12px;

    @media (width <= 768px) {
      display: none;
    }
  }

  .baseImg {
    position: absolute;
    width: 384px;
    height: 480px;
  }

  .charlieImgCol {
    @extend .baseImgCol;

    align-items: start;

    .charlieImgBackground {
      @extend .baseImgBackground;

      background-color: #ffe1c7;
    }

    .charlieImg {
      @extend .baseImg;

      top: 48px;
      right: 48px;

      @media (width <= 768px) {
        position: static;
      }
    }
  }

  .yuanImgCol {
    @extend .baseImgCol;

    align-items: end;

    .yuanImgBackground {
      @extend .baseImgBackground;

      background-color: #ffb323;
      opacity: 0.2;
    }

    .yuanImg {
      @extend .baseImg;

      right: 48px;
      bottom: 48px;

      @media (width <= 768px) {
        position: static;
      }
    }
  }

  .founderDescription {
    .founderName {
      @include title;

      line-height: 54px;
    }

    .founderTag {
      font-size: 24px;
      font-weight: 600;
      color: #172142;
      line-height: 36px;

      .founderTagButton {
        margin-right: 16px;
        cursor: default;
      }
    }

    .founderParagraph {
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 33px;
    }

    .keyText {
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      line-height: 36px;
      color: #ffad11;
    }
  }
}
