.XCampFounder {
  margin-top: 50px;
  padding-bottom: 80px;
  position: relative;
  .title {
    color: #172142;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 100px;
  }

  .baseImgCol {
    display: flex;
    justify-content: center;
  }
  .baseImgBackground {
    position: relative;
    border-radius: 12px;
    width: 368px;
    height: 416px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .baseImg {
    position: absolute;
    width: 384px;
    height: 480px;
  }

  .charlieImgCol {
    @extend .baseImgCol;
    align-items: start;
    .charlieImgBackground {
      @extend .baseImgBackground;
      background-color: #ffe1c7;
    }
    .charlieImg {
      @extend .baseImg;
      top: 48px;
      right: 48px;
      @media (max-width: 768px) {
        position: static;
      }
    }
  }

  .yuanImgCol {
    @extend .baseImgCol;
    align-items: end;
    .yuanImgBackground {
      @extend .baseImgBackground;
      background-color: #d9e9ff;
    }
    .yuanImg {
      @extend .baseImg;
      right: 48px;
      bottom: 48px;
      @media (max-width: 768px) {
        position: static;
      }
    }
  }

  .founderDescription {
    .founderName {
      font-size: 36px;
      font-weight: 600;
      color: #172142;
      line-height: 54px;
    }
    .founderTag {
      font-size: 24px;
      font-weight: 600;
      color: #172142;
      line-height: 36px;
      .founderTagButton {
        margin-right: 16px;
        cursor: default;
      }
    }
    .paragraph {
      font-size: 18px;
      font-weight: 500;
      color: #172142;
      line-height: 33px;
    }
    .keyText {
      @extend .paragraph;
      color: #d46b14;
    }
  }
}
