.aboutXCampContainer {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffeddf;
  .aboutXCamp {
    width: 1280px;
    margin: 0 auto 40px;
    .aboutXCampTop {
      text-align: center;
      margin: auto 220px 20px 220px;
      h1 {
        font-size: 36px;
        font-weight: 600;
      }
      p {
        color: #172142;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .cards {
      width: 100%;
      .cardIcon {
        box-shadow: 0 0 5px #ffad11;
        border-radius: 5px;
      }
      .cardTitle {
        color: #ffad11;
        font-size: 24px;
        font-weight: 600;
      }
      .cardDesc {
        color: #666666;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
