@import "@/styles/variables.scss";

.bannerContainer {
  width: 100%;
  position: relative;
  background: #fff;
  box-shadow: 0 11px 26px -4px rgba(216,216,216,0.3);

  .carouselDots {
    position: absolute;
    right: 80px;
    top: 270px;
    transform: translateY(-50%);
    z-index: 1;
    list-style-type: none;
    @media (max-width: 992px){
      right: 40px;
      top: 240px;
    }

    .li {
      width: 42px;
      margin-bottom: 30px;
      text-align: right;
      @include text(14px, 24px,#C1C1C1);
      cursor: pointer;
      .divider {
        margin: 0;
        border-block-color: #C1C1C1;
      }
      &.active {
        color: $primary-color;
        .divider {
          border-block-color:  $primary-color;
        }
      }
    }

  }
  .background {
    width: 100%;
    height: 540px;
    background-size: cover;
  }
  .content {
    position: relative;
    width: 100%;
    height: 540px;

    .info {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }
    .space {
      width: 100%;
      padding-top: 48px;
      padding-bottom: 64px;
      @media (max-width: 992px) {
        display: flex;
        justify-content: center;
      }
      .title {
        @include title('banner');
        font-weight: 800;
      }
      .paragraph {
        @include text(21px, 32px);
        font-weight: 600;
        margin: 0;
        min-height: 64px;
      }
      .mb8 {
        margin-bottom: 8px;
      }
      .button {
        padding: 10px 36px;
        background: $primary-color;
        border-radius: 12px;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        line-height: 24px;
        border: 1px solid #ffad11;
        &:hover {
          @extend .hoverButton;
        }
      }
      .date {
        @include text(16px, 24px, #666);
        font-weight: 500;
      }
    }
  }

}
