@import "@/styles/variables";

.carouselContainer {
  width: 100%;
  height: 40rem;
  background-image: url("/image/home/carousel-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .carousel {
    height: 100%;
    margin: 0 auto;
    .carouselSpace {
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      margin-top: 2.625rem;
      padding-left: 2.8125rem;
      padding-right: 2.8125rem;
      .carouselLeft {
        .title {
          color: #d46b14;
          font-size: 3rem;
          font-weight: 900;
          line-height: 3.625rem;
        }
        .texts {
          margin-left: 2rem;
          .text {
            color: $primary-color;
            font-size: 1.75rem;
            font-weight: 500;
            line-height: 2.625rem;
          }
        }
        .joinUs {
          height: auto;
          color: #fff;
          font-size: 1.625rem;
          padding: .75rem 3.75rem;
          font-weight: 600;
          line-height: 2.875rem;
          margin-top: 1.5rem;
          margin-left: 2rem;
          margin-bottom: .5rem;
          border-radius: 2rem;
          background-color: $primary-color;
        }
        .date {
          color: #172a88;
          font-size: 1.25rem;
          line-height: 2.875rem;
          font-weight: 600;
          margin-left: 2rem;
        }
      }
      .carouselRight {
        width: 26.25rem;
        box-shadow: 0rem .5625rem 1.5625rem -0.25rem rgba(212,107,20,0.4);
        @media (max-width: 768px) {
          width: 100%;
          margin-top: 5rem;
        }
        .form {
          margin-left: .625rem;
          margin-right: .625rem;
          input {
            width: 100%;
            height: 2.875rem;
          }
          .submit {
            width: 22.125rem;
            height: 3rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
          }
        }
      }
    }
  }
}

