.commentsContainer {
  width: 100%;
  margin-top: 100px;
  background-color: #ffeddf;
  .comments {
    padding: 100px;
    position: relative;
    @media (max-width: 768px) {
      padding-left: 50px;
      padding-right: 50px;
    }
    .prev {
      background-color: #d46b14;
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
    .next {
      background-color: #d46b14;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
    .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
      .col {
        margin-top: 20px;
        margin-bottom: 20px;
        .colCard {
          box-shadow: 0px 9px 25px -4px rgba(212, 107, 20, 0.4);
        }
        .cardTitle {
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
        }
        .cardParagraph {
          color: #666666;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}
