.faculty {
  margin-top: 70px;
  .title {
    color: #d46b14;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
  }
  .paragraph {
    color: #172142;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
  }
  .row {
    width: 100%;
    @media (max-width: 768px) {
      margin-left: 0!important;
      margin-right: 0!important;
    }
    .name {
      color: #172142;
      font-size: 20px;
      font-weight: 600;
      line-height: 34px;
    }
    .description {
      color: #666666;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    .button {
      color: #d46b14;
      border-color: #d46b14;
    }
    .cardImage {
      width: 150px;
      height: 155px;
    }
  }
}
