.FoundingTeam {
  width: 1440px;
  margin: 0 auto;
  margin-top: 40px;
  h1 {
    color: #172142;
    font-size: 36px;
    font-weight: 600;
  }
  .founderLeft {
    padding: 25px 50px;
    h2 {
      color: #172142;
      font-size: 36px;
      font-weight: 600;
    }
    .founderTag {
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
    }
    p {
      color: #666666;
      font-size: 16px;
      text-align: left;
      font-weight: 400;
      line-height: 40px;
    }
  }
}
