.partners {
  width: 1440px;
  margin: 0 auto;
  margin-top: 120px;
  padding-left: 175px;
  padding-right: 155px;
  .title {
    color: #D46B14;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
  }
  .paragraph {
    color: #172142;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    margin: auto 20px 60px 20px;
  }
}
