.partners {
  width: 1440px;
  margin: 0 auto;
  margin-top: 140px;
  padding-left: 160px;
  padding-right: 155px;
  .title {
    width: 242px;
    height: 72px;
    text-align: center;
    color: #D46B14;
    font-size: 36px;
    font-weight: 600;
    line-height: 72px;
    background-image: url("/image/home/partners-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .paragraph {
    color: #172142;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    margin: auto 40px 56px 40px;
  }
}
