.studentProjects {
  margin-top: 70px;
  .title {
    color: #172142;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
  }
  .titleText {
    @extend .title;
    color: #d46b14;
  }
  .paragraphText {
    color: #d46b14;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
  }
  .paragraph {
    @extend .paragraphText;
    color: #172142;
    text-align: center;
    margin: auto 132px 80px 132px;
    @media (max-width: 768px) {
      margin: auto;
      margin-bottom: 80px;
    }
  }
  .row {
    width: 100%;
    @media (max-width: 768px) {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .cardContainer {
      display: flex;
      justify-content: space-between;
      .card {
        width: 50%;
        border-radius: 0;
        position: relative;
        :global(.ant-card-meta-title) {
          font-size: 24px;
          font-weight: 600;
          line-height: 54px;
        }
        :global(.ant-card-meta-description) {
          color: #666666;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
        }
        .cardMore {
          position: absolute;
          left: 16px;
          bottom: 16px;
          color: #172142;
          @media (max-width: 768px) {
            bottom: 0px;
          }
        }
      }
    }
  }
}
