@import "@/styles/variables.scss";
.weSupport {
  padding: 80px 30px;
  .title {
    @include title('home-content');
    margin: 0;
  }
  .titleBg {
    margin-left: 60px;
    display: block;
    width: 160px;
    height: 20px;
    background-image: url("/image/home/home-title-bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .paragraph {
    margin-top: 10px;
    @include text(18px, 34px);
    font-weight: 500;
  }
  .imageContainer {
    @media (max-width: 768px) {
      background: #e7e7e7;
      margin-bottom: 15px;
    }
  }
  .imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    @media (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
