.weSupport {
  margin-top: 50px;
  .video {
    height: 100%;
  }
  .title {
    color: #172142;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .paragraph {
    color: #172142;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
  }
}
