@import '@/styles/variables';

.introContainer {
  margin-top: 100px;
  padding: 48px;
  background-color: #fff;

  @media (width <= 768px) {
    margin-top: 50px;
    padding: 24px;
  }

  .title {
    margin-top: 0;
    font-size: 36px;
    font-weight: 600;
    color: #172142;
    line-height: 48px;

    @media (width <= 768px) {
      @include title('mobile');
    }
  }

  .subTitle {
    font-size: 24px;
    font-weight: 600;
    color: #172142;
    line-height: 48px;

    @media (width <= 768px) {
      font-size: 20px;
      line-height: 36px;
    }
  }

  .subParagraph {
    font-size: 18px;
    font-weight: 400;
    color: #172142;
    line-height: 40px;

    @media (width <= 768px) {
      @include mobile-text;

      margin-bottom: 16px;
    }
  }

  .space {
    width: 100%;

    .image {
      height: 252px;

      @media (width <= 768px) {
        width: 100%;
        height: 100%;
      }
    }
  }

  .chartTitle {
    margin-top: 48px;
    margin-bottom: 0;
    font-size: 36px;
    font-weight: 600;
    color: #172142;
    line-height: 48px;

    @media (width <= 768px) {
      @include title('mobile');

      margin-top: 16px;
    }
  }

  .chart {
    .barChart {
      width: 100%;
      height: 448px;

      @media (width <= 768px) {
        height: 320px;
      }
    }

    .chartRight {
      width: 100%;

      .subTitle {
        font-size: 24px;
        font-weight: 600;
        color: #172142;
        line-height: 64px;

        @media (width <= 768px) {
          @include mobile-text;
        }
      }

      .spaceItem {
        display: flex;
        justify-content: space-between;

        .circle {
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background: #ffad11;
        }

        .text {
          font-size: 21px;
          font-weight: 600;
          color: #172142;
          line-height: 40px;

          @media (width <= 1200px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
