@import '@/styles/variables';

.amaContainer {
  @media (width <= 768px) {
    padding-right: 24px;
    padding-left: 24px;
  }

  .title {
    font-size: 36px;
    font-weight: 600;
    color: #172142;
    line-height: 48px;

    @media (width <= 768px) {
      @include title('mobile');

      margin-top: 24px;
      margin-bottom: 0;
    }
  }

  .paragraph {
    font-size: 18px;
    font-weight: 500;
    color: #172142;
    line-height: 34px;

    @media (width <= 768px) {
      @include mobile-text;

      margin-bottom: 0;
    }
  }

  .spaceContainer {
    width: 100%;

    .spaceBox {
      .image {
        width: 100%;
        height: 252px;
        border-radius: 4px;

        @media (width <= 768px) {
          width: 100%;
        }
      }

      .title {
        font-size: 20px;
        font-weight: 600;
        color: #172142;
        line-height: 28px;

        @media (width <= 768px) {
          @include title('middle');

          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .date {
        font-size: 18px;
        font-weight: 400;
        color: #666;
        line-height: 24px;

        @media (width <= 768px) {
          @include mobile-text;
        }
      }
    }
  }
}
