.educationForumBanner {
  .left {
    margin-top: 56px;
    padding-top: 64px;
    @media (max-width: 768px) {
      padding-top: 0;
    }
    .title {
      font-size: 48px;
      font-weight: bold;
      color: #172142;
      line-height: 64px;
    }

    .description {
      font-size: 24px;
      font-weight: 500;
      color: #172142;
      line-height: 42px;
      margin: 40px 0 32px 0;
    }
  }

  .right {
    margin-top: 56px;
    img {
      width: 720px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
