@import '@/styles/variables';

.partners {
  padding-top: 88px;
  padding-bottom: 88px;
  text-align: center;
  background-color: #fdf6f1;

  @media (width <= 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title {
    @include title;

    position: relative;
    color: $primary-color;

    @media (width <= 768px) {
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;

      @include title('mobile');
    }
  }

  .baseTitleBg {
    display: block;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/image/home/home-title-bg-1.png');
  }

  .zhTitleBg {
    @extend .baseTitleBg;

    margin-top: -32px;
    width: 130px;

    @media (width <= 768px) {
      margin-top: -20px;
      width: 96px;
    }
  }

  .enTitleBg {
    @extend .baseTitleBg;

    margin-top: -32px;
    width: 130px;

    @media (width <= 768px) {
      margin-top: -20px;
      width: 96px;
    }
  }

  .paragraph {
    margin: auto 40px 56px;
    padding-right: 120px;
    padding-left: 120px;
    font-size: 18px;
    font-weight: 500;
    color: #172142;
    line-height: 34px;

    @media (width <= 768px) {
      margin: auto auto 40px;
      padding-right: 15px;
      padding-left: 15px;

      @include mobile-text;
    }
  }

  .space {
    display: flex;
    justify-content: space-between;
  }

  .topLeftImage {
    width: 160px;
    height: 64px;

    @media (width <= 768px) {
      width: 100%;
    }
  }

  .topCenterImage {
    width: 160px;
    height: 64px;

    @media (width <= 768px) {
      width: 100%;
    }
  }

  .topRightImage {
    width: 80px;
    height: 64px;

    @media (width <= 768px) {
      width: 100%;
    }
  }

  .bottomLeftImage {
    width: 80px;
    height: 64px;

    @media (width <= 768px) {
      width: 100%;
    }
  }

  .bottomCenterImage {
    width: 160px;
    height: 64px;

    @media (width <= 768px) {
      width: 100%;
    }
  }

  .bottomRightImage {
    width: 160px;
    height: 64px;

    @media (width <= 768px) {
      width: 100%;
    }
  }
}
