@import '@/styles/variables';

.referralAndEarnContainer {
  .referralAndEarn {
    padding: 50px;

    @media (width <= 768px) {
      padding: 16px;
    }

    .giveAndGetCard {
      padding: 30px;

      @media (width <= 768px) {
        padding: 8px;
      }

      .title {
        @include title('default');

        line-height: 48px;

        @media (width <= 768px) {
          @include title('mobile');
        }
      }

      .description {
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 34px;

        @media (width <= 768px) {
          @include mobile-text;
        }
      }

      .subTitle {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 600;
        color: #172142;
        line-height: 36px;

        @media (width <= 768px) {
          @include title('middle');
        }

        span {
          color: #d46b14;

          @media (width <= 768px) {
            @include title('middle');

            color: #d46b14;
          }
        }
      }
    }
  }
}
