@import "@/styles/variables";

.educationForumBanner {
  .left {
    margin-top: 56px;
    padding-top: 64px;
    @media (max-width: 768px) {
      padding-top: 0;
    }
    .title {
      @include title("bold");
      line-height: 64px;
    }

    .description {
      @include title("thin");
      line-height: 42px;
      margin: 40px 0 32px 0;
    }
  }

  .right {
    margin-top: 56px;
    img {
      width: 720px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
