.timeLineContainer {
    //background-color: rgba(255, 255, 255, 0.6);


    .title {
        font-size: 36px;
        font-family: Poppins-SemiBold, Poppins;
        font-weight: 600;
        color: #D46B14;
        line-height: 48px;
    }

    .intro {
        font-size: 21px;
        font-family: Poppins-Medium, Poppins;
        font-weight: 500;
        color: #172142;
        line-height: 40px;

        @media (max-width: 768px){
            font-size: 16px;
        }
    }

    .listContainer {
        padding: 20px;
        background: url('/logo/x-camp-logo.png') no-repeat;
        margin-right: 0;
        background-position: right bottom;

        ul {
            list-style: none;
        }

        .timeListItem {

            position: relative;
            margin-bottom: 20px;
            /* 添加相对定位 */

            .timeListTitle {
                font-size: 24px;
                font-family: Poppins-SemiBold, Poppins;
                font-weight: 600;
                color: #D46B14;
                line-height: 48px;
                position: relative;
                left: -20px;

                @media (max-width: 768px) {
                    font-size: 18px;
                }
            }

            .timeListTitle::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #D46B14;
                position: relative;
                //top: 1px;
                left: -20px;
                margin-right: 5px;
                border: 3px solid #FFAD11;
            }
        }

        



        .timeListDetail {
            color: #172142;
            font-size: 21px;
            line-height: 48px;
            
            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }

    .download {
        display: flex;
        align-items: center;

        .downloadText {
            font-size: 21px;
            font-family: Poppins-Medium, Poppins;
            font-weight: 500;
            color: #D46B14;
            line-height: 40px;
            margin-left: 8px;

            @media (max-width: 768px) {
                font-size: 17px;
                
            }
        }
    }

    .achievementCardContainer {
        display: flex;
        @media (max-width: 768px) {
            display: block;
            
        }
        .cardItem {
            flex: 1;
            text-align: center;
            margin: 20px;
            .title {
                font-size: 72px;
                font-family: Poppins-SemiBold, Poppins;
                font-weight: 600;
                line-height: 100px;
            }

            .text {
                font-size: 18px;
                font-family: Poppins-SemiBold, Poppins;
                font-weight: 600;
                color: #172142;
                line-height: 32px;
            }
        }

    }

}