.USACOSpotlightContainer {
  width: 100%;
  background-color: #fdf6f1;
  .USACOSpotlight {
    padding-top: 56px;

    @media (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    .title {
      font-size: 48px;
      font-weight: 600;
      color: #172142;
      line-height: 48px;
    }

    .intro {
      font-size: 18px;
      font-weight: 400;
      color: #172142;
      line-height: 34px;
    }

    .medalIntro {
      padding: 50px;
      position: relative;

      @media (max-width: 768px) {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      .colCard {
        height: 484px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 20px;
        text-align: center;
        padding: 40px;
        width: 95%;

        .infoContainer {
          position: absolute;
          bottom: 20px;
          left: 0;
          margin: 0 16px;
          padding: 16px 0;
          background-color: #fff;
          border-radius: 12px;
          width: calc(100% - 32px);

          .cardTitle {
            font-size: 36px;
            font-weight: 600;
            color: #172142;
            line-height: 54px;
            margin: 0;
          }

          .cardParagraph {
            font-size: 18px;
            color: #172142;
            line-height: 24px;
          }
        }
      }
    }

    .prev {
      color: #fff;
      background-color: #ffad11;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .next {
      background-color: #ffad11;
      color: #fff;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
