.USACOMedalContainer {
  width: 100%;

  .USACOMedal {
    padding-top: 56px;

    @media (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    .title {
      font-size: 48px;
      font-weight: 600;
      color: #172142;
      line-height: 48px;
    }

    .intro {
      font-size: 18px;
      font-weight: 400;
      color: #172142;
      line-height: 34px;
    }

    .medalIntro {
      padding: 50px;
      position: relative;

      @media (max-width: 768px) {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      .col {
        margin-bottom: 20px;
        text-align: center;
        padding: 40px;

        .colCard {
          height: 484px;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;

          .infoContainer {
            position: absolute;
            bottom: 20px;
            left: 0;
            margin: 0 16px;
            padding: 16px 0;
            background-color: #fff;
            border-radius: 12px;
            width: calc(100% - 32px);

            .cardTitle {
              font-size: 36px;
              font-weight: 600;
              color: #172142;
              line-height: 54px;
              margin: 0;
            }

            .cardParagraph {
              font-size: 18px;
              color: #172142;
              line-height: 24px;
            }
          }

        }

      }
    }

    .prev {
      border: none;
      border-radius: 40px;
      width: 28px;
      position: absolute;
      left: 10px;
      top: 50%;
      background-color: transparent;
      transform: translateY(-50%);

      svg path {
        fill: #FFAD11;
      }

      svg path:nth-child(3) {
        fill: #fff;
      }
    }

    .next {
      border: none;
      border-radius: 40px;
      background-color: #f5f5f5;
      width: 28px;
      color: #FFAD11;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    .timeLine {

      //padding: 0 30px;
      .title {
        font-size: 36px;

        font-weight: 600;
        color: #172142;
        line-height: 48px;
      }

      .intro {
        font-size: 21px;
        font-weight: 500;
        color: #172142;
        line-height: 40px;


      }

      .listContainer {
        padding: 40px;
        margin-right: 0;
        background-position: right bottom;

        .timeListItem {
          position: relative;
          /* 添加相对定位 */

          .timeListTitle {
            font-size: 24px;

            font-weight: 600;
            color: #172142;
            line-height: 48px;
            position: relative;
            left: -20px;


          }

          .timeListTitle::before {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #FFAD11;
            position: relative;
            //top: 1px;
            left: -20px;
            margin-right: 5px;
            border: 3px solid #FFD600;
          }
        }

        .timeListDetail {
          border: none;
          color: #172142;
          font-size: 21px;
          line-height: 48px;
        }
      }

      .download {
        display: flex;
        align-items: center;
        margin-bottom: 100px;

        .downloadText {
          font-size: 21px;
          font-weight: 500;
          color: #d46b14;
          line-height: 40px;
          margin-left: 8px;

        }


      }

      .row {
        @media (max-width: 768px) {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        .col {
          width: 100%;
          height: 320px;
        }

        .cardItem {
          border-radius: 10px;
          padding-bottom: 6px;
          text-align: center;
          margin-top: 64px;

          .title {
            font-size: 72px;
            font-weight: 600;
            line-height: 100px;
          }

          .text {
            font-size: 18px;
            font-weight: 600;
            color: #172142;
            line-height: 32px;
          }
        }
      }
    }
  }
}