@import '@/styles/variables';

.bannerContainer {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 11px 26px -4px rgb(216 216 216 / 30%);

  .carouselDots {
    position: absolute;
    top: 288px;
    right: 80px;
    z-index: 1;
    transform: translateY(-50%);
    list-style-type: none;

    @media (width <= 992px) {
      top: 240px;
      right: 40px;
    }

    .li {
      margin-bottom: 30px;
      width: 32px;
      text-align: right;
      cursor: pointer;

      @include text(14px, 24px, rgba(23, 33, 66, 0.5));

      .divider {
        margin: 0;
        border-block-color: rgb(23 33 66 / 50%);
      }

      &.active {
        color: $primary-color;

        .divider {
          border-block-color: $primary-color;
        }
      }
    }
  }

  .background {
    width: 100%;
    height: 540px;

    @media (width <= 768px) {
      width: 100%;
      height: 368px;
      background-size: cover !important;
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: 540px;

    @media (width <= 768px) {
      width: 100%;
      height: 368px;
    }

    .info {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }

    .space {
      padding-top: 48px;
      padding-bottom: 64px;
      width: 100%;

      @media (width <= 992px) {
        display: flex;
        justify-content: center;
      }

      .title {
        @include title('banner');

        font-weight: 800;

        @media (width <= 768px) {
          @include title('middle');

          font-weight: 800;
        }
      }

      .description {
        @include text(21px, 32px);

        margin: 0;
        font-weight: 600;

        @media (width <= 768px) {
          @include text(14px, 18px);
        }
      }

      .button {
        padding: 10px 36px;
        border: 2px solid #ffad11;
        border-radius: 12px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        background: $primary-color;
        line-height: 24px;
        transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        cursor: pointer;

        &:hover {
          color: #ffad11;
          background-color: #fff;
        }

        @media (width <= 768px) {
          @include text(10px, 12px, #fff);
        }
      }

      .date {
        @include text(16px, 24px, #666);

        font-weight: 500;

        @media (width <= 768px) {
          @include text(10px, 12px, #666);
        }
      }
    }
  }

  :global(.ant-carousel .slick-dots) {
    bottom: 16px;
  }
}
