@import '@/styles/variables';

.bannerContainer {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 11px 26px -4px rgb(216 216 216 / 30%);

  .carouselDots {
    position: absolute;
    top: 288px;
    right: 80px;
    z-index: 1;
    transform: translateY(-50%);
    list-style-type: none;

    @media (max-width: 992px) {
      top: 240px;
      right: 40px;
      color: #172a88;
    }

    .li {
      margin-bottom: 30px;
      width: 32px;
      text-align: right;
      cursor: pointer;

      @include text(14px, 24px, rgba(23, 42, 136, 0.3));

      .divider {
        margin: 0;
        border-block-color: rgb(23 42 136 / 30%);
      }

      &.active {
        color: #172a88;

        .divider {
          border-block-color: #172a88;
        }
      }
    }
  }

  .background {
    width: 100%;
    height: 540px;

    @media (max-width: 768px) {
      width: 100%;
      height: 368px;
      background-size: cover !important;
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: 540px;

    @media (max-width: 768px) {
      width: 100%;
      height: 368px;
    }

    .info {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }

    .space {
      padding-top: 48px;
      padding-bottom: 64px;
      width: 100%;

      @media (max-width: 992px) {
        display: flex;
        justify-content: center;
      }

      .titleWithImg {
        .title {
          margin: 0;
          font-size: 44px;
          line-height: 48px;
          font-weight: 800;
          color: $text-color;

          @media (max-width: 768px) {
            @include title('middle');

            font-weight: 800;
          }
        }

        .titleImg {
          height: 160px;
          @media (max-width: 768px) {
            height: 112px;
          }
        }

        .titleBar {
          display: flex;
          width: 280px;
          height: 4px;
          margin-top: 16px;
          @media (max-width: 768px) {
            display: none;
          }
          .left {
            flex: 1;
            height: 100%;
            background-color: #eb7411;
          }
          .right {
            flex: 2;
            height: 100%;
            background-color: #ffad11;
          }
        }
      }

      .descriptionBox {
        display: flex;
        align-items: center;
        .dot {
          width: 8px;
          height: 8px;
          background: #eb7411;
          border-radius: 50%;
          margin-right: 32px;
          flex: 1;
          @media (max-width: 768px) {
            @include text(14px, 18px);
            flex: 1;
            margin-right: 8px;
          }
        }
        .triangle {
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 16px solid #ffad11;
          margin-right: 8px;
          transform: rotate(90deg);
        }
        .description {
          flex: 69;
          @include text(24px, 32px);
          margin: 0;
          font-weight: 600;
          line-height: 48px;
          @media (max-width: 768px) {
            @include text(14px, 18px);
            flex: 49;
          }
        }
      }

      .button {
        padding: 16px 48px;
        border: 2px solid #ffad11;
        border-radius: 36px;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        background: linear-gradient(to bottom, #ffad11, #f5821a); /* 渐变色 */
        line-height: 32px;
        transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        cursor: pointer;
      }
      @media (max-width: 768px) {
        .button {
          padding: 16px 40px;
          font-size: 10px;
          line-height: 12px;
          color: #fff;
        }
      }
    }
  }

  :global(.ant-carousel .slick-dots) {
    bottom: 16px;
  }
}
