@import '@/styles/variables';

.qaContent {
  padding-bottom: 6.25rem;

  .row {
    @media (width <= 768px) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  .title {
    text-align: center;

    @include title('default');
  }

  .card {
    margin-top: 24px;
    width: 100%;
    text-align: center;

    :global(.ant-form-item .ant-form-item-label) {
      font-weight: bold;
    }

    :global(.ant-input) {
      padding: 10px;
      border: 1px solid #ffad11;
    }

    .formTitle {
      margin-top: 12px;

      @include title('default');
    }

    .formTextArea {
      width: 100%;
      outline: none;
    }

    .formButton {
      width: 100%;
      height: 56px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      background: #ffad11;
      line-height: 24px;

      &:hover {
        @extend .hoverButton;
      }
    }
  }
}
