@import '@/styles/variables';

.qaContent {
  padding-bottom: 6.25rem;

  @media (width <= 768px) {
    padding: 24px;
    padding-top: 0;
  }

  .title {
    text-align: center;

    @include title('default');

    @media (width <= 768px) {
      @include title('mobile');

      margin-top: 24px;
      margin-bottom: 0;
    }
  }

  .card {
    margin-top: 24px;
    width: 100%;
    text-align: center;

    :global(.ant-form-item .ant-form-item-label) {
      font-weight: bold;
    }

    :global(.ant-input) {
      padding: 10px;
    }

    @media (width <= 768px) {
      margin-top: 0;
    }

    .formTitle {
      margin-top: 12px;

      @include title('default');

      @media (width <= 768px) {
        @include title('mobile');

        margin-top: 0;
      }
    }

    .formTextArea {
      width: 100%;
      outline: none;
    }

    .formButton {
      width: 100%;
      height: 56px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      background: #ffad11;
      line-height: 24px;

      &:hover {
        @extend .hoverButton;
      }

      @media (width <= 768px) {
        height: 48px;

        @include mobile-text;

        color: #fff;
      }
    }
  }
}
