.courses {
  width: 100%;
  position: relative;
  top: 72px;
  margin: 0 auto;

  .classContainer {
    padding-top: 50px;

    :global(.ant-collapse) {
      border-block-start: none;
    }

    :global(.ant-segmented-group) {
      padding: 8px 36px;
      @media (max-width: 768px) {
        padding: 0;
      }
    }

    :global(.ant-affix) {
      z-index: 9999;
    }
    :global(.ant-segmented-item-label) {
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
    :global(.ant-segmented-item-selected) {
      color: #fff;
      background-color: #ffad11;
    }

    .form {
      margin-top: 64px;
      display: flex;
      justify-content: end;
      padding-left: 12px;
      padding-right: 12px;
    }

    .title {
      font-size: 42px;
      font-weight: 600;
      color: #172142;
      line-height: 56px;
      margin-top: -48px;
      margin-bottom: 56px;
      @media (max-width: 1200px) {
        margin-top: 48px;
      }
    }

    .radioGroup {
      width: 100%;
      text-align: center;
    }
    :global(.ant-collapse-expand-icon) {
      height: 60px !important;
      color: #d46b14;
    }

    :global(.ant-collapse-expand-icon > span) {
      font-size: 24px !important;
    }
    :global(.ant-collapse-header) {
      align-items: center;
    }
    :global(.ant-collapse-header),
    :global(.ant-collapse-content-box) {
      padding: 12px 0;
    }

    .paneBox {
      display: flex;
      justify-content: space-between;
      .panelTitle {
        font-size: 36px;
        font-weight: 600;
        color: #172a88;
        @media (max-width: 768px) {
          font-size: 24px;
        }
      }
      .courseNum {
        font-size: 18px;
        font-weight: 500;
        color: #6a6a6a;
        line-height: 24px;
      }
    }
  }
}
