.courses {
  width: 100%;
  position: relative;
  top: 72px;
  margin: 0 auto;

  .classContainer {
    padding-top: 50px;

    :global(.ant-collapse) {
      border-block-start: none;
    }

    .changeBtn {
      width: 64px;
      height: 64px;
      background: #ffad11;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        font-size: 24px;
        color: #fff;
      }
    }

    .title {
      font-size: 48px;
      font-weight: 600;
      color: #d46b14;
      line-height: 64px;
      position: relative;
      display: inline;
      z-index: 1;

      &::after {
        position: absolute;
        content: "";
        right: -40px;
        z-index: -1;
        bottom: 5px;
        width: 149px;
        height: 16px;
        background: #ffad11;
        border-radius: 8px;
      }
    }

    .divider {
      background-color: #ffad11;
      margin: 60px 0 60px 0;
      min-width: unset;
      width: calc(100% - 32px);
      height: 2px;
    }

    :global(.ant-collapse-expand-icon) {
      height: 60px !important;
      color: #d46b14;
    }

    :global(.ant-collapse-expand-icon > span) {
      font-size: 24px !important;
    }

    :global(.ant-collapse-header),
    :global(.ant-collapse-content-box) {
      padding: 12px 0;
    }

    .paneBox {
      display: flex;
      justify-content: space-between;
      .panelTitle {
        font-size: 36px;
        font-weight: 600;
        color: #172a88;
      }
      .courseNum {
        font-size: 18px;
        font-weight: 500;
        color: #6a6a6a;
        line-height: 24px;
      }
    }

    :global(.ant-segmented-group) {
      padding: 8px 36px;
    }
    :global(.ant-segmented-item-label) {
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
    }
    :global(.ant-segmented-item-selected) {
      color: #fff;
      background-color: #ffad11;
    }
  }
}
