@import '@/styles/variables';

.collapse {
  margin: 24px 0;
  padding: 0 0 0 6px;
  border: none;

  .panel {
    padding: 20px 40px;
    border: none;
    font-size: 18px;
    background: white;

    :global(.ant-collapse-header) {
      display: flex;
      align-items: center;
      padding: 16px;
      width: 100%;
      min-height: 88px;
    }

    :global(.ant-collapse-content) {
      border-top: 2px solid #ffad11;
    }

    @media (width <= 768px) {
      @include title('middle');
    }
  }

  .questionAndAnswerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-size: 21px;

    @media (width <= 768px) {
      width: 24px;
      height: 24px;

      @include mobile-text;
    }
  }

  .question {
    color: #ffad11;
    background-color: #ffeddf;
  }

  .answer {
    color: #00a0e9;
    background-color: #009fe933;

    @media (width <= 768px) {
      @include mobile-text;

      color: #00a0e9;
      background-color: #009fe933;
    }
  }

  .answerContent {
    @media (width <= 768px) {
      @include mobile-text;
    }
  }
}
