@import '@/styles/variables';

.evaluationFormContainer {
  padding-bottom: 70px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-image: url('/image/evaluation/background.png');

  .evaluationForm {
    width: 100%;

    .title {
      @include title('default');

      margin: 90px 0;
      text-align: center;
      line-height: 54px;

      @media (width <= 768px) {
        @include title('mobile');

        margin: 32px 0;
      }
    }

    :global {
      .ant-select-selector {
        border: 1px solid #d8d8d8;
        border-radius: 4px;
      }

      .ant-input-lg {
        border: 1px solid #d8d8d8;
        border-radius: 4px;
      }

      .ant-btn.ant-btn-lg {
        border-radius: 4px;
      }

      .ant-form-item .ant-form-item-explain-error {
        margin-left: 20px;
      }
    }

    .required {
      :global(.ant-form-item-control-input::before) {
        display: inline;
        margin-right: 10px;
        font-size: 24px;
        color: red;
        content: '*';

        @media (width <= 768px) {
          font-size: 16px;
        }
      }
    }

    .unRequired {
      :global(.ant-form-item-control-input::before) {
        display: inline;
        margin-right: 10px;
        font-size: 24px;
        opacity: 0;
        content: '*';

        @media (width <= 768px) {
          font-size: 16px;
        }
      }
    }

    .right {
      display: block;

      @media (width <= 768px) {
        display: none;
      }
    }
  }
}
