@import '@/styles/variables';

.row {
  position: relative;

  .leftSpace {
    padding-top: 112px;
    padding-right: 96px;
    padding-left: 96px;
    width: 100%;
    height: 512px;
    background-color: #efefef;

    .title {
      position: absolute;
      top: 32px;
      z-index: 999;
      font-size: 36px;
      font-weight: bold;
      color: #172142;
      line-height: 48px;

      @media (width <= 768px) {
        top: 0;

        @include title('mobile');
      }
    }

    .paragraph {
      font-size: 24px;
      font-weight: 500;
      color: #172142;
      line-height: 34px;

      @media (width <= 768px) {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .background {
    position: absolute;
    top: 96px;
    width: 100%;
    height: 20px;
    background-color: #ffad11;

    @media (width <= 768px) {
      top: 32px;
    }
  }

  .image {
    width: 100%;
    height: 512px;

    @media (width <= 768px) {
      z-index: 9999;
      height: 100%;
    }
  }
}

.mbContainer {
  width: 100%;
  height: 368px;

  .space {
    padding: 24px 48px;
    width: 100%;
    height: 100%;

    .title {
      position: absolute;
      top: 28px;
      z-index: 999;

      @include title('mobile');

      color: #fff;
    }

    .paragraph {
      margin-top: 96px;

      @include mobile-text;

      color: #fff;
    }
  }

  .background {
    position: absolute;
    top: 64px;
    width: 100%;
    height: 20px;
    background-color: #ffad11;
  }
}
