@import '@/styles/variables';

.bannerContainer {
  position: relative;

  .image {
    @media (width <= 768px) {
      height: 288px;
    }
  }

  .content {
    position: absolute;
    top: 120px;
    left: 100px;

    @media (width <= 768px) {
      top: 32px;
      left: 32px;
    }

    .title {
      @include title('banner');

      margin-bottom: 21px;

      @media (width <= 768px) {
        font-size: 32px;
        line-height: 32px;
      }
    }

    .paragraph {
      font-size: 21px;
      font-weight: 500;
      color: #172142;
      line-height: 40px;
      text-shadow: 0 2px 10px #fff;

      @media (width <= 768px) {
        font-size: 16px;
        line-height: 32px;
      }
    }
  }
}
