@import '@/styles/variables';

.row {
  position: relative;

  .leftSpace {
    padding-top: 128px;
    padding-right: 40px;
    padding-left: 96px;
    width: 100%;
    height: 512px;
    background-color: #efefef;

    .title {
      position: absolute;
      top: 32px;
      top: 12%;
      z-index: 999;
      font-size: 34px;
      font-weight: bold;
      color: #172142;
      line-height: 48px;

      @media (width <= 768px) {
        @include title('mobile');
      }
    }

    .time {
      font-size: 14px;
      color: #172142;
      line-height: 30px;
    }

    .paragraph {
      font-size: 24px;
      font-weight: 500;
      color: #172142;
      line-height: 34px;

      @media (width <= 768px) {
        font-size: 12px;
        line-height: 20px;
      }
    }

    .dateTime {
      @include text(16px, 24px, #172142);

      font-weight: 600;
    }
  }

  .background {
    position: absolute;
    top: 102px;
    top: 20%;
    width: 100%;
    height: 20px;
    background-color: #ffad11;

    @media (width <= 768px) {
      display: none;
    }
  }

  .image {
    width: 100%;
    height: 512px;

    @media (width <= 768px) {
      z-index: 9999;
      height: 100%;
    }
  }
}

.mbContainer {
  width: 100%;
  height: 368px;

  .space {
    padding: 24px 15px;
    width: 100%;
    height: 100%;

    .title {
      position: absolute;
      top: 40px;
      z-index: 999;

      @include title('mobile');

      color: #fff;
    }

    .time {
      font-size: 14px;
      color: #172142;
      line-height: 30px;
    }

    .dateTime {
      @include mobile-text;
    }

    .paragraph {
      margin-top: 96px;

      @include mobile-text;

      color: #fff;
    }
  }
}
