@import '@/styles/variables';

.introduction {
  padding-top: 80px;
  width: 100%;

  @media (width <= 768px) {
    padding-top: 48px;
  }

  .description {
    @include text(18px, 34px);

    margin-bottom: 100px;
    font-weight: 500;

    @media (width <= 768px) {
      @include mobile-text;
    }
  }

  .MoreUSACO::before {
    display: inline-block;
    margin-right: 15px;
    width: 16px;
    height: 16px;
    border: 3px solid #ffd600;
    border-radius: 50%;
    background: #ffad11;
    content: '';
  }

  :global(.ant-collapse) {
    border-block-start: none;
  }

  :global(.ant-collapse-expand-icon) {
    height: 60px !important;
    color: #d46b14;
  }

  :global(.ant-collapse-expand-icon > span) {
    font-size: 24px !important;
  }

  :global(.ant-collapse-header),
  :global(.ant-collapse-content-box) {
    padding: 12px 0 !important;
  }

  .changeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background: #ffad11;

    .icon {
      font-size: 24px;
      color: #fff;

      @media (width <= 768px) {
        font-size: 16px;
      }
    }

    @media (width <= 768px) {
      width: 24px;
      height: 24px;
    }
  }

  .title {
    @include title;

    @media (width <= 768px) {
      @include title('mobile');
    }
  }

  .videoPane {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    .videoPanel {
      width: 400px;

      @media (width <= 768px) {
        width: 100%;
      }

      .videoBox {
        width: 100%;
        height: 280px;
        border-radius: 12px;
        background-color: black;
      }

      .videoTitle {
        font-size: 18px;
        font-weight: 600;
        color: #172142;
        line-height: 24px;

        @media (width <= 768px) {
          @include mobile-text;
        }
      }

      .icon {
        color: #666;
      }

      .videoDate {
        font-size: 18px;
        color: #666;

        @media (width <= 768px) {
          @include mobile-text;

          color: #666;
        }
      }
    }
  }

  .link {
    font-size: 21px;
    font-weight: 400;
    color: #d46b14;
    line-height: 100px;

    @media (width <= 768px) {
      @include mobile-text;

      color: #d46b14;
    }
  }
}
