@import '@/styles/variables';

.bannerContainer {
  width: 100%;

  .contactBtn {
    @include button('nav');
    @include flex(center);
    @include text(16px, 24px);

    position: absolute;
    top: 360px;
    left: 100px;
    padding: 10px 15px;
    width: 160px;
    height: 50px;
    border-radius: 12px;

    img {
      margin-left: 4px;
    }

    @media (width <= 768px) {
      display: none;
    }
  }
}
