@import '@/styles/variables';

.content {
  padding: 80px 0;
  width: 100%;

  @media (width <= 768px) {
    padding: 24px 10px 0;
  }

  :global(.ant-collapse-arrow) {
    margin-top: -56px;
  }

  :global(.ant-collapse-header) {
    padding: 12px 0 !important;
  }

  :global(.ant-collapse-content-box) {
    padding: 16px 0 !important;
  }

  .cards {
    .card {
      padding: 36px 24px 36px 36px;
      width: 100%;
      height: 450px;
      border-radius: 10px;
      background: #fff;

      @media (width <= 768px) {
        padding: 24px 18px;
        height: fit-content;
      }

      .date {
        .month {
          font-size: 24px;
          font-weight: 600;
          color: #666;
        }

        .day {
          font-size: 50px;
          font-weight: 600;
          color: #172142;
        }
      }

      .title {
        @include title('thin');

        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @media (width <= 768px) {
          margin: 12px 0;
          font-size: 20px;
        }
      }

      .descriptions {
        position: relative;

        .btn {
          position: absolute;
          right: 0;
          font-size: 18px;
          color: #ffad11;

          @media (width <= 768px) {
            font-size: 16px;
          }
        }

        :global {
          .ant-descriptions-row > td {
            padding-bottom: 8px;
          }

          .ant-descriptions-item-label::after {
            content: '';
          }

          .ant-descriptions-item-label {
            align-items: start;
            margin-top: 7px;
          }

          .ant-descriptions-item-content,
          .ant-typography {
            justify-content: space-between;
            align-items: end;
            font-size: 18px;
            color: #666;

            @media (width <= 768px) {
              @include mobile-text;
            }
          }

          .ant-typography {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
