@import '@/styles/variables';

.content {
  padding: 100px 0;
  width: 100%;

  .cards {
    .card {
      padding: 48px 36px;
      height: 550px;
      border-radius: 8px 8px 12px 12px;
      background: #fff;

      @media (width <= 768px) {
        padding: 24px 18px;
        height: fit-content;
      }

      .date {
        .month {
          font-size: 24px;
          font-weight: 600;
          color: #666;
        }

        .day {
          font-size: 80px;
          font-weight: 600;
          color: #172142;
        }
      }

      .title {
        @include title('thin');

        display: -webkit-box;
        overflow: hidden;
        margin: 24px 0;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;

        /* 行数 */
        -webkit-box-orient: vertical;

        @media (width <= 768px) {
          margin: 12px 0;
        }
      }

      .descriptions {
        position: relative;

        .btn {
          position: absolute;
          right: 0;
          font-size: 18px;
          color: #ffad11;
        }

        :global {
          .ant-descriptions-row > td {
            padding-bottom: 8px;
          }

          .ant-descriptions-item-label::after {
            content: '';
          }

          .ant-descriptions-item-label {
            align-items: start;
            margin-top: 7px;
          }

          .ant-descriptions-item-content {
            justify-content: space-between;
            align-items: end;
            font-size: 18px;
            color: #666;
          }
        }
      }
    }
  }
}
