.mask {
  position: absolute;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f5ff;
  z-index: 1000;
  transition: all 0.3s;
}

.hide {
  opacity: 0;
}
