.loading {
  position: relative;
  margin-bottom: 100px;
}

.loading::before,
.loading::after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: '';
}

.loading::before {
  background-color: #ffad11;
  animation: loading-1 0.8s infinite ease-in-out;
}

.loading::after {
  left: 8px;
  background-color: #ffd600;
  animation: loading-2 0.8s infinite ease-in-out;
}

@keyframes loading-1 {
  0%,
  100% {
    transform: translateX(0) rotate(0);
  }

  50% {
    transform: translateX(50px) scale(1.2) rotate(260deg);
    border-radius: 0;
  }
}

@keyframes loading-1 {
  0%,
  100% {
    transform: translateX(0) rotate(0);
  }

  50% {
    transform: translateX(50px) scale(1.2) rotate(260deg);
    border-radius: 0;
  }
}

@keyframes loading-2 {
  0%,
  100% {
    transform: translateX(0) rotate(0);
  }

  50% {
    transform: translateX(-50px) scale(1.2) rotate(-260deg);
    border-radius: 0;
  }
}

@keyframes loading-2 {
  0%,
  100% {
    transform: translateX(0) rotate(0);
  }

  50% {
    transform: translateX(-50px) scale(1.2) rotate(-260deg);
    border-radius: 0;
  }
}
