.mask {
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f5ff;
  transition: all 0.3s;
  inset: 0;
}

.hide {
  opacity: 0;
}
