.ispiContainer {
  width: 100%;
  .col {
    margin-top: 176px;
    @media (max-width: 768px) {
      margin-top: 100px;
    }
  }
  .title {
    font-size: 48px;
    font-weight: 600;
    color: #172142;
    line-height: 64px;
    position: relative;
  }
  .titleBg {
    position: absolute;
    display: block;
    top: 16px;
    right: 120px;
    width: 40px;
    height: 48px;
    background-image: url("/image/about-us/introduction-three-bar.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 768px) {
      right: 0;
    }
  }
  .text {
    font-size: 24px;
    font-weight: 600;
    color: #172142;
    line-height: 54px;
    .textIcon {
      color: #333;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
  .cards {
    width: 100%;
    height: 100%;
    position: relative;
    div {
      padding: 40px 72px;
      border-radius: 12px;
      font-size: 40px;
      font-weight: 600;
      color: #ffffff;
      line-height: 60px;
      text-align: center;
    }
    .interest {
      position: absolute;
      z-index: 996;
      top: 16px;
      color: #172142;
      transform: rotate(-24deg);
      background-color: #ffd600;
      @media (max-width: 992px) {
        top: 192px;
      }
      @media (max-width: 768px) {
        position: static;
        transform: translateX(0);
        z-index: 999;
      }
    }
    .skills {
      position: absolute;
      z-index: 997;
      top: 136px;
      right: 0;
      transform: rotate(30deg);
      background-color: #d46b14;
      @media (max-width: 1200px) {
        top: 196px;
      }
      @media (max-width: 992px) {
        top: 348px;
      }
      @media (max-width: 768px) {
        position: static;
        transform: translateX(0);
        z-index: 999;
        margin-top: 24px;
      }
    }
    .potential {
      position: absolute;
      left: 0;
      bottom: 152px;
      z-index: 998;
      color: #172142;
      transform: rotate(-30deg);
      background-color: #ffad11;
      @media (max-width: 768px) {
        position: static;
        transform: translateX(0);
        z-index: 999;
        margin-top: 24px;
      }
    }
    .independent {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-40%);
      z-index: 999;
      background-color: #00a0e9;
      @media (max-width: 768px) {
        position: static;
        transform: translateX(0);
        z-index: 999;
        margin-top: 24px;
      }
    }
  }
}
