.space {
  margin-bottom: 128px;
  .title {
    font-size: 48px;
    font-weight: 600;
    color: #d46b14;
    line-height: 48px;
  }
  .paragraph {
    font-size: 18px;
    font-weight: 500;
    color: #172142;
    line-height: 34px;
  }
  .row {
    @media (max-width: 768px) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
