@import '@/styles/variables.scss';
.card {
  width: 100%;
  min-height: 436px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  padding: 80px 64px;

  @media (max-width: 992px) {
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      @include title();
    }

    .description {
      @include text(18px, 34px);
      font-weight: 500;
      margin: 20px 0 24px 0;
    }

    .btn {
      width: 250px;
      height: 48px;
      border-radius: 12px;
      font-weight: 500;
      border: 2px solid #172142;
      @include text(16px, 24px);
      opacity: 0.5;

      @media (max-width: 992px) {
        width: 100%;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .right {
    right: 400px;
    display: flex;
    justify-content: center;

    @media (max-width: 7682px) {
      margin-top: 20px;
      width: 50%;
    }

    .imgContain {
      position: relative;

      img {
        width: 200px;
        height: 250px;
        transform: rotate(-15deg);
        position: relative;
        z-index: 2;
      }

      &::after {
        border-radius: 4px;
        position: absolute;
        top: -20px;
        left: 20px;
        content: '';
        width: 200px;
        height: 180px;
        display: inline-block;
        background-color: #cce1f1;
        transform: rotate(10deg);
      }
    }
  }
}
