@import '@/styles/variables';

.qaContent {
  margin-top: 6.25rem;
  padding-bottom: 6.25rem;

  .title {
    @include title('default');

    margin: 90px 0 40px;
    text-align: center;
    line-height: 56px;
  }
}
