@import '@/styles/variables';

.title {
  @include title('about');

  @media (width <= 992px) {
    font-size: 30px;
  }
}

.description {
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #172142;
  line-height: 34px;
}

.images {
  justify-content: space-between;
  width: 100%;

  @media (width <= 992px) {
    justify-content: center;
  }

  img {
    width: 366px;
    height: 248px;
  }
}
