@import "@/styles/variables.scss";
.title {
  @include title('about');

  @media (max-width: 992px) {
    font-size: 30px;
  }
}

.description {
  font-size: 18px;
  font-weight: 500;
  color: #172142;
  line-height: 34px;
  margin-bottom: 50px;
}

.images {
  width: 100%;
  justify-content: space-between;

  @media (max-width: 992px) {
    justify-content: center;
  }

  img {
    width: 366px;
    height: 248px;
  }
}