@import '@/styles/variables';

.referralProgramWork {
  margin-bottom: 100px;
  padding: 50px 15px;

  @media (max-width: 768px) {
    margin-bottom: 0;
    padding: 16px 24px;
  }

  .title {
    @include title('default');

    line-height: 48px;

    @media (max-width: 768px) {
      @include title('mobile');
    }
  }

  .list {
    padding-left: 20px;

    .description {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 3px 0;
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      color: #172142;
      line-height: 34px;

      @media (max-width: 768px) {
        @include mobile-text;
      }

      span {
        margin-right: 8px;
      }
    }
  }

  .imgCol {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;

    @media (max-width: 768px) {
      padding: 20px;
    }
  }

  :global(.ant-list-item:last-child) {
    margin-top: 10px !important;
  }
}
