@import '@/styles/variables';

.popoverContent {
  width: 320px;

  .divider {
    margin: 16px 0;
  }

  .description {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #172142;
    line-height: 24px;
  }

  .descriptionContent {
    font-size: 16px;
    font-weight: 400;
    color: #b9b9b9;
    line-height: 24px;
    word-break: break-all;
    word-wrap: break-word;
    hyphens: auto;
  }
}

.card {
  width: 100%;

  .month {
    padding-bottom: 33px;
    width: 100%;
    border-bottom: #d8d8d8 1px solid;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #172142;
    line-height: 36px;

    @media (max-width: 1200px) {
      @include title('middle');
    }
  }

  .content {
    padding: 30px 0 0;
    width: 80%;

    @media (max-width: 1200px) {
      padding: 20px 0 0;
    }

    .item {
      padding: 11px 20px;
      border-radius: 12px;
      background: #ffe1c7;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        background: #00a0e9;

        .title,
        .description,
        .bottom .time {
          color: #fff;
        }
      }

      .title {
        font-size: 18px;
        font-weight: 500;
        color: #172142;
        line-height: 24px;
        transition: all 0.3s;

        @media (max-width: 1200px) {
          @include title('middle');
        }
      }

      .noContest {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: #172142;
        line-height: 36px;

        @media (max-width: 1200px) {
          font-size: 16px;
        }
      }

      .description {
        font-size: 16px;
        font-weight: 400;
        color: #6a6a6a;
        line-height: 24px;
        transition: all 0.3s;
        word-break: break-all;
        word-wrap: break-word;
        hyphens: auto;

        @media (max-width: 1200px) {
          @include mobile-text;
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .time {
          font-size: 14px;
          font-weight: 400;
          color: #6a6a6a;
          line-height: 24px;
          transition: all 0.3s;
        }

        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 23px;
          height: 23px;

          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }
        }
      }
    }

    .itemEven {
      background-color: #d9e9ff;

      .description {
        color: #172142;
      }
    }
  }

  .contentCenter {
    justify-content: center;
    padding-right: 10%;
    padding-bottom: 30px;
    padding-left: 10%;
    width: 100%;
    height: calc(100% - 70px);
    border-right: #d8d8d8 1px solid;

    @media (max-width: 1200px) {
      height: calc(100% - 58px);
    }
  }

  &:last-child {
    .contentCenter {
      border-right: none;
    }
  }
}

.popoverTitle {
  display: flex;
  justify-content: space-between;

  .left {
    .title {
      font-size: 24px;
      font-weight: 500;
      color: #172142;
      line-height: 36px;

      @media (max-width: 1200px) {
        @include title('middle');
      }
    }

    .description {
      font-size: 16px;
      font-weight: 400;
      color: #172142;
      line-height: 24px;
    }

    .time {
      span {
        font-size: 16px;
        font-weight: 400;
        color: #b9b9b9;
        line-height: 24px;

        @media (max-width: 1200px) {
          @include mobile-text;

          color: #b9b9b9;
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    width: 48px;
    height: 48px;

    img {
      width: 48px;
      height: 48px;
      border: #d8d8d8 1px solid;
      border-radius: 50%;
    }
  }
}
