@import '@/styles/variables';

.bannerContainer {
  width: 100%;

  .paragraph {
    padding-bottom: 24px;
  }

  .col {
    @media (width <= 768px) {
      margin-top: 30px !important;
      padding: 15px;
      padding-bottom: 0;
    }
  }

  .image {
    margin-top: 100px;

    @media (width <= 768px) {
      margin-top: 40px !important;
    }
  }
}
