@import '@/styles/variables';

.content {
  width: 100%;
  background-color: #f5f5f5;

  .partnerContainer {
    padding: 80px;

    @media (width <= 768px) {
      padding: 20px 10px;
    }

    .partner {
      .title {
        @include title('default');

        margin-bottom: 48px;
        text-align: center;

        @media (width <= 768px) {
          @include title('mobile');

          margin-bottom: 24px;
        }
      }

      .card {
        display: flex;
        align-items: center;
        padding: 48px;
        width: 100%;
        border-radius: 8px;
        background: #fff;

        @media (width <= 768px) {
          padding: 24px;
          flex-direction: column;
        }

        .logo {
          width: 248px;
          height: 100px;
        }

        .partnerContent {
          position: relative;
          padding-bottom: 64px;
          padding-left: 48px;

          @media (width <= 768px) {
            padding-bottom: 24px;
            padding-left: 24px;
          }

          .partnerTitle {
            margin: 20px 0;
            font-size: 28px;
            font-weight: 600;
            color: #172142;
            line-height: 48px;

            @media (width <= 992px) {
              @include title('mobile');

              font-size: 22px;
            }
          }

          .partnerDescription {
            font-size: 18px;
            font-weight: 500;
            color: #172142;
            line-height: 34px;

            @media (width <= 768px) {
              @include mobile-text;
            }
          }
        }

        .button {
          position: absolute;
          right: 0;
          margin-top: 20px;
          width: 158px;
          height: 48px;
          border: 2px solid #172142;
          border-radius: 12px;
          font-size: 18px;
          font-weight: 500;
          color: #172142;
          background: #fff;
          line-height: 36px;

          @media (width <= 768px) {
            position: static;
          }
        }
      }
    }
  }
}
