@import "@/styles/variables";

.wrapper {
  :global(.ant-picker-panel .ant-picker-body) {
    padding: 18px 0;
  }
  :global(.ant-picker-content thead) {
    min-height: 38px;
  }
  :global(.ant-picker-cell .ant-picker-cell-inner) {
    @include flex(center);
    display: inline-flex;
    flex-direction: column;
    min-height: 38px;
    min-width: 38px;
    border-radius: 50%;
  }
  :global(.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before) {
    border-radius: 50%;
  }
  :global(.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner) {
    background: $primary-color;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 14px;

  .dateTextCol {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.88);
    line-height: 24px;
  }

  .btnCol {
    display: flex;
    align-items: center;

    .changeMonthBtn {
      border: none;
    }
  }
}


