@import '@/styles/variables';

.description {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #172142;
  line-height: 34px;
}

.title {
  @include title('thin');

  line-height: 40px;
  margin-bottom: 10px;

  &::before {
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border: 3px solid #ffd600;
    border-radius: 50%;
    background-color: #ffad11;
    content: '';
  }
}

.time {
  margin-left: 24px;
  font-size: 20px;
  font-weight: 500;
  color: #172142;
  line-height: 34px;
}

.link {
  margin-left: 24px;
  font-size: 20px;
  text-decoration: underline;
  color: #d46b14;

  &:hover {
    color: #d46b14;
    opacity: 0.8;
  }
}
