@import '@/styles/variables';

.publicCalendar {
  padding-top: 80px;
  padding-bottom: 45px;

  @media (max-width: 768px) {
    padding: 32px 24px;
  }

  .title {
    margin: 0;

    @include title('default');

    text-align: center;

    @media (max-width: 768px) {
      @include title('mobile');

      margin-bottom: 24px;
      font-size: 23px;
    }
  }

  .baseTitleBg {
    display: block;
    margin-bottom: 48px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/image/home/home-title-bg-1.png');
  }

  .zhTitleBg {
    @extend .baseTitleBg;

    margin-left: 242px;
    width: 88px;
    height: 20px;

    @media (max-width: 768px) {
      margin-top: -24px;
      margin-bottom: 16px;
      margin-left: 152px;
      width: 64px;
    }
  }

  .enTitleBg {
    @extend .baseTitleBg;

    margin-top: -3px;
    margin-left: 290px;
    width: 160px;
    height: 20px;

    @media (max-width: 768px) {
      margin-top: -24px;
      margin-bottom: 16px;
      margin-left: 190px;
      width: 96px;
    }
  }

  .eventListContainer {
    overflow: hidden scroll;
    height: 800px;

    @media (max-width: 992px) {
      height: 512px;
    }

    @media (max-width: 768px) {
      height: unset;
    }

    .eventCard {
      padding-left: 12px;
      height: 200px;

      @media (max-width: 768px) {
        padding: 0;
        height: 128px;
      }

      .eventContent {
        padding-top: 24px;
        padding-right: 24px;
        padding-bottom: 24px;
        width: 100%;
        height: 95%;
        border-left: #ffad11 solid 10px;
        background-color: #fff;

        @media (max-width: 768px) {
          height: 90%;
          border-left: #ffad11 solid 6px;
        }

        .contentLeft {
          margin-right: 40px;
          margin-left: 40px;
          width: 100%;
          vertical-align: middle;

          @media (max-width: 768px) {
            margin-left: 20px;
          }

          .weekMonth {
            font-size: 18px;
            font-weight: 500;
            color: #6a6a6a;
            line-height: 28px;

            @media (max-width: 768px) {
              @include mobile-text;
            }
          }

          .day {
            font-size: 36px;
            font-weight: 600;
            color: #172142;
            line-height: 48px;

            @media (max-width: 768px) {
              @include title('middle');
            }
          }
        }

        .contentRight {
          width: 480px;

          @media (max-width: 768px) {
            width: 320px;
          }

          .titleParagraph {
            padding-right: 30px;
            width: 90%;
            font-size: 18px;
            font-weight: bold;
            color: #172142;
            line-height: 32px;

            @media (max-width: 1400px) {
              width: 70%;
            }

            @media (max-width: 1200px) {
              width: 50%;
            }

            @media (max-width: 992px) {
              width: 90%;
            }

            @media (max-width: 768px) {
              @include title('middle');
            }
          }

          .date {
            width: 90%;
            font-size: 16px;
            font-weight: 400;
            color: #6a6a6a;
            line-height: 32px;

            @media (max-width: 1400px) {
              width: 70%;
            }

            @media (max-width: 1200px) {
              width: 50%;
            }

            @media (max-width: 992px) {
              width: 90%;
            }
          }

          :global(.ant-space-item) {
            width: 100%;
          }
        }
      }
    }

    .empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .rightSpace {
    .calenderHeader {
      padding: 20px;
    }

    :global(.ant-picker-body) {
      padding: 20px 0;
    }

    :global(.ant-picker-content thead) {
      height: 48px;
    }

    :global(.ant-picker-cell .ant-picker-cell-inner) {
      @include flex(center);

      display: inline-flex;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      flex-direction: column;

      &::before {
        border-radius: 24px;
      }
    }

    @media (max-width: 768px) {
      margin-top: 16px;
    }
  }

  .calendarSpace {
    width: 100%;

    .spaceDate {
      width: 100%;

      .text {
        font-size: 18px;
        font-weight: 400;
        white-space: nowrap;
        color: #000;
        line-height: 25px;

        @media (max-width: 768px) {
          @include mobile-text;
        }
      }

      :global(.ant-space-item:nth-child(2)) {
        width: 100%;
      }

      .line {
        width: 100%;
        height: 2px;
        border: 1px solid #ffad11;
      }
    }

    .calendarItem {
      margin-top: 24px;
      width: 100%;

      .itemDate {
        font-size: 14px;
        font-weight: 400;
        color: rgb(0 0 0 / 45%);
        line-height: 20px;
      }

      .itemParagraph {
        width: 100%;
        font-weight: 600;
        color: rgb(0 0 0 / 88%);
        line-height: 26px;
      }

      .itemLine {
        width: 100%;
        height: 2px;
        border: 1px solid #ffad11;
      }
    }
  }

  :global(.ant-picker-calendar-date-content) {
    div {
      width: 6px !important;
      height: 6px !important;
    }
  }
}
