@import '@/styles/variables';

.content {
  padding: 0 24px;
  background: #f5f5f5;
  font-size: 24px;
  font-weight: 600;
  color: #172142;
  font-family: MontserratAlternates-Bold, Arial;
  line-height: 48px;

  .title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: MontserratAlternates-Bold, Arial !important;
  }

  .card {
    padding: 0 24px 12px;
    background: #ffffff;
    border-radius: 12px;
    margin-bottom: 16px;
    .month {
      font-size: 20px;
      font-weight: 600;
      color: #888888;
      line-height: 48px;
    }
  }

  .contestItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #172142;
    overflow: hidden;
    margin-bottom: 16px;
    padding: 8px 12px;
    .contestLogo {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
    .contestTitle {
      font-size: 14px;
      font-weight: 600;
      color: #172142;
      line-height: 20px;
      margin-left: 16px;
      flex: 4;
      flex-direction: column;
      font-family: MontserratAlternates-Bold, Arial;
    }
    .time {
      font-size: 12px;
      font-family: Poppins-Black;
      font-weight: 400;
      color: #172142;
      line-height: 36px;
    }
  }
}
