.courseDetail {
  position: relative;
  top: 72px;
  margin: 0 auto;
  width: 100%;

  :global(.tabTitle) {
    position: relative;
    display: inline;
    font-size: 28px;
    font-weight: bold;
    color: #172142;
    line-height: 48px;

    &::before {
      position: absolute;
      top: 8px;
      right: -8px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #ffad11;
      opacity: 0.8;
      content: '';
    }
  }
}
