.courseDetail {
  position: relative;
  top: 72px;
  margin: 0 auto;
  width: 100%;

  * {
    font-family: Poppins-Black, Arial;
  }

  :global(.tabTitle) {
    position: relative;
    z-index: 0;
    display: inline-block;
    font-size: 28px;
    font-family: MontserratAlternates-Bold, Arial;
    font-weight: bold;
    color: #172142;
    line-height: 48px;

    &::before {
      position: absolute;
      top: 8px;
      right: -8px;
      z-index: -1;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #ffad11;
      opacity: 0.8;
      content: '';
    }
  }

  .faqs {
    padding-top: 0;
  }

  .faqTitle {
    margin-bottom: 36px;
  }
}
