@import '@/styles/variables';

.headerContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff !important;
  box-shadow: 0 9px 25px -4px #d8d8d8;

  .header {
    height: 72px;
    line-height: 72px;
    background-color: #fff;

    @media (width <= 768px) {
      box-shadow: 0 9px 25px -4px #d8d8d8;
      box-shadow: 0 17px 48px -8px rgb(216 216 216 / 100%);
    }

    .space {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;

      .image {
        margin-right: 32px;
        width: 105px;
        height: 32px;
      }

      .menu {
        font-size: 16px;
        font-weight: 500;
        color: $text-color;
      }

      .search {
        display: block;
        padding-right: 20px;
        width: 100%;
      }

      .study {
        width: 100%;
      }

      .langDropDown {
        margin-left: 6px;
        font-size: 24px;
        color: $text-color;
      }
    }

    .showMenu {
      position: absolute;
      top: 72px;
      right: 0;
      width: 100%;
      background-color: #fff;

      @media (width <= 768px) {
        box-shadow: 0 9px 25px -4px #d8d8d8;
      }

      .menu-reset {
        margin: 0;
        width: 100%;
        border-radius: 0;
      }

      :global(.ant-menu-title-content) {
        a {
          width: 100%;
          font-size: 16px;
          font-weight: 500;
          color: $text-color;
        }
      }

      :global(.ant-menu-submenu-open) {
        ul {
          a {
            font-size: 14px;

            &::before {
              position: relative;
              left: 0;
              display: inline-block;
              margin-right: 6px;
              width: 6px;
              height: 6px;
              border: 1px solid #ffd600;
              border-radius: 50%;
              background: #ffad11;
              content: '';
              vertical-align: middle;
            }
          }
        }
      }

      :global(.ant-menu-item-selected) {
        background-color: $primary-color;

        a {
          color: #fff;
        }
      }

      :global(.ant-menu-item) {
        @extend .menu-reset;
      }

      :global(.ant-menu-submenu-title:hover) {
        @extend .menu-reset;
      }

      :global(.ant-menu-submenu-title) {
        @extend .menu-reset;

        @media (width <= 768px) {
          padding-left: 15px !important;
          height: 56px;
          line-height: 56px;
        }
      }

      :global(.ant-menu-inline) {
        border: none;
      }

      :global(.ant-menu-inline > .ant-menu-item) {
        @media (width <= 768px) {
          padding-left: 15px !important;
          height: 56px;
          line-height: 56px;
        }
      }

      .mobileIntl {
        @include flex(flex-end);

        padding: 10px 30px;

        .toggleMargin {
          margin-left: 30px;
        }
      }
    }
  }
}
