@import "@/styles/variables";

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff !important;
  box-shadow: 0px 9px 25px -4px #D8D8D8;
  z-index: 1000;

  .header {
    height: 72px;
    line-height: 72px;
    background-color: #fff;

    .space {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;

      .image {
        width: 105px;
        height: 32px;
      }

      .menu {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
      }

      .search {
        width: 100%;
        display: block;
        padding-right: 20px;
      }

      .study {
        width: 85px;
      }

      .intl {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 40px;

        .img {
          background-image: url("/image/header/intl.png");
          background-repeat: no-repeat;
          background-size: cover;
          width: 24px;
          height: 24px;
          transition: background-image 0.2s;
        }

        span {
          line-height: initial;
          font-size: 12px;
          transition: color 0.2s;
        }

        &:hover {
          .img {
            background-image: url("/image/header/intl_hover.png");
          }

          span {
            color: $primary-color;
          }
        }
      }

      .langDropDown {
        color: $text-color;
        font-size: 24px;
        margin-left: 6px;
      }
    }

    .showMenu {
      top: 0;
      right: 0;
      width: 100%;
      position: absolute;
      background-color: #fff;

      .button {
        margin-left: 16px;
      }

      :global(.ant-menu-title-content) {
        a {
          color: $text-color;
          font-size: 16px;
          font-weight: 500;
          width: 100%;
        }
      }

      :global(.ant-menu-item-selected) {
        background-color: $primary-color;
      }
    }
  }
}