@import "@/styles/variables";

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 2px 2px 2px #adadad;
  z-index: 100;
  .header {
    width: 1440px;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
    height: 72px;
    line-height: 72px;
    background-color: #fff;
    .space {
      width: 100%;
      height: 100%;
      justify-content: space-between;
      .search {
        vertical-align: middle;
      }
      .logIn {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }
      .signUp {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
      }
      .dropDown {
        color: $text-color;
        font-size: 24px;
      }
    }
  }
}
