@import "@/styles/variables";

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 2px 2px 2px #adadad;
  z-index: 100;
  .header {
    height: 72px;
    line-height: 72px;
    background-color: #fff;
    .space {
      width: 100%;
      height: 100%;
      position: relative;
      justify-content: space-between;
      align-items: center;
      .image {
        width: 105px;
        height: 32px;
      }
      .menu {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
      }
      .search {
        width: 100%;
        display: block;
      }
      .logIn {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }
      .signUp {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
      }
      .dropDown {
        color: $text-color;
        font-size: 24px;
      }
    }
    .showMenu {
      top: 0;
      right: 0;
      width: calc(100vw - 160px) ;
      position: absolute;
      background-color: #fff;
      .button {
        margin-left: 16px;
      }
      .mobileMenu {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        li {
          width: 100%;
          margin: 0;
          border-radius: 0;
        }
      }
    }
  }
}
