@import "@/styles/variables.scss";
.copyRightContainer {
  width: 100%;
  background-color: #ffddb1;
  .copyRight {
    padding: 70px;
    .spaceLeft {
      width: 100%;
      margin-top: 48px;
      .image {
        width: 156px;
        height: 48px;
      }
      .paragraph {
        @include text(14px, 24px);
        .text {
          margin-left: 10px;
        }
      }
    }
    .spaceRight {
      width: 100%;
      margin-top: 48px;
      display: flex;
      justify-content: space-between;
      .text {
        margin-bottom: 24px;
        font-weight: 600;
        @include text(18px, 30px);
      }
      a {
        @include text(14px, 36px);
      }
    }
    .bar {
      width: 100%;
      height: 2px;
      margin: 28px 0;
      background-color: $primary-color;
      opacity: 0.5;
    }
    .bottomContainer {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
      .bottomTitle {
        @include text(14px, 26px);
        font-weight: 500;
      }
    }
  }
}
