@import '@/styles/variables';

.copyRightContainer {
  width: 100%;
  background-color: #ffddb1;

  .copyRight {
    padding: 30px;

    @media (width <= 768px) {
      padding-top: 0;
      padding-bottom: 0;
    }

    .spaceLeft {
      margin-top: 48px;
      width: 100%;

      @media (width <= 768px) {
        margin-top: 16px;
      }

      .image {
        width: 156px;
        height: 48px;
      }

      .paragraph {
        @include text(14px, 24px, #172142);

        .text {
          margin-left: 10px;

          @media (width <= 768px) {
            @include mobile-text;
          }
        }
      }
    }

    .spaceRight {
      display: flex;
      justify-content: space-between;
      margin-top: 48px;
      width: 100%;

      @media (width <= 768px) {
        margin-top: 16px;
      }

      .text {
        margin-bottom: 24px;
        font-weight: 600;

        @include text(18px, 30px, #172142);

        @media (width <= 768px) {
          @include title('middle');

          margin-bottom: 16px;
        }
      }

      a {
        @include text(14px, 36px, #172142);

        @media (width <= 768px) {
          @include text(12px, 24px, #172142);
        }
      }
    }

    .bar {
      margin: 28px 0;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
      opacity: 0.5;

      @media (width <= 768px) {
        margin: 0;
      }
    }

    .bottomContainer {
      @media (width >= 768px) {
        display: flex;
        justify-content: space-between;
      }

      .bottomTitle {
        @include text(14px, 26px, #172142);

        font-weight: 500;
      }
    }
  }

  .mobileCopyRight {
    width: 100%;
    height: 64px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #172142;
    background-color: #ffad11;
    line-height: 64px;

    @media (width <= 768px) {
      padding-top: 16px;
      height: 56px;

      @include mobile-text;
    }
  }
}
