@import '@/styles/variables';

.card {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 184px;
  border-radius: 12px;
  background: #fff;

  @media (width <= 992px) {
    padding: 40px 32px;
    flex-direction: column;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      @include title;

      @media (width <= 768px) {
        @include title('mobile');
      }
    }

    .description {
      @include text(18px, 34px);

      margin: 20px 0 24px;
      font-weight: 500;

      @media (width <= 768px) {
        margin: 10px 0 12px;

        @include mobile-text;
      }
    }

    .btn {
      @include flex(center);

      justify-content: space-evenly;
      width: 250px;
      height: 48px;
      border: 2px solid #172142;
      border-radius: 12px;
      font-weight: 500;
      opacity: 0.5;

      @include text(16px, 24px);

      @media (width <= 992px) {
        width: 160px;
        width: 100%;
        height: 40px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .right {
    right: 400px;
    display: flex;
    justify-content: center;

    @media (width <= 768px) {
      margin-top: 20px;
      width: 50%;
    }

    .imgContain {
      position: relative;

      img {
        margin-top: 10px;

        @media (width <= 768px) {
          margin-top: 40px;
          margin-left: 150px;
        }
      }
    }
  }
}
