.cardContainer {
  margin-top: 80px;
  background: #ffffff;
  border-radius: 12px;
  margin-bottom: 60px;

  :global(.ant-card-body) {
    @media (max-width: 768px) {
      padding: 24px 0;
    }
  }
}
