.resumeContainer {
  .resume {
    width: 900px;

    @media (max-width: 1200px) {
      width: 800px;
    }

    .cardContainer {
      margin-top: 30px;
      background: #ffffff;
      border-radius: 12px;
      margin-bottom: 60px;

      :global(.ant-card-body) {
        @media (max-width: 768px) {
          padding: 24px 0;
        }
      }
    }
  }
}
