@import '@/styles/variables';

.content {
  padding: 130px 50px;
  width: 100%;

  .top,
  .bottom {
    .title {
      @include title('bold');

      margin-bottom: 48px;
    }

    .description {
      margin-bottom: 24px;
      font-size: 21px;
      font-weight: 500;
      color: #172142;
      line-height: 40px;
    }
  }

  .intro {
    .title {
      @include title('thin');

      line-height: 48px;
      margin-bottom: 10px;

      &::before {
        position: relative;
        top: -1.5px;
        display: inline-block;
        margin-right: 10px;
        width: 8px;
        height: 8px;
        border: 2px solid #ffd600;
        border-radius: 50%;
        background: #ffad11;
        content: '';
      }
    }

    .description {
      margin-bottom: 20px;
      margin-left: 24px;
      font-size: 21px;
      font-weight: 500;
      color: #172142;
      line-height: 40px;
    }
  }
}
